/* your styles go here */
.logo-icon {
  height: 40px;
  padding: 5px;
}

/* gauge chart */
.chart-gauge {
  width: 180px;
  height: 100px;
  margin: 0px ;
}

.chart-color1 {
  fill: #D82724;
}

.chart-color2 {
  fill: #FCBF02;
}

.chart-color3 {
  fill: #92D14F;
}

.needle,
.needle-center {
  fill: #464A4F;
}

.prose {
  text-align: center;
  font-family: sans-serif;
  color: #ababab;
}

@media (max-width: 768px) {
  .chart-gauge {
      width: 300px;
      height: 150px;

      /* margin: 10px ; */
  }
}

.chart {
  min-width: 320px;
  max-width: 800px;
  height: 220px;
  margin: 0 auto;
}

/*Data buttons*/
.data-option {
  width: 50px !important;
  height: 50px !important;
}

.error {
  color: #e01f3f !important;
  font-size: 12px!important;
  /*margin: 0 !important;
  padding: 2px !important;*/
  padding: 0px 8px 4px 8px;
  /*border: none;*/
  border-radius: 0px;
  margin-top: 2px;
  margin-bottom: 5px!important;
  /*width: 50% !important;*/
  box-sizing: border-box;
}

.invalid-feedback {
  /*display: none;*/
  width: 100%;
  margin-top: .25rem;
  font-size: 80%!important;
  color: #dc3545!important;
}

.count-number-1 {
  font-size: 1.75em;
}

.overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(255,255,255,0.8) url('../img/photos/Triangles-1s-200px.gif') center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
body.loading{
  overflow: hidden;   
}
/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
  display: block;
}

.help-text .form-group div span {
  font-size: 12px  !important;
}

.help-text {
  padding: 5px;
  background-color: whitesmoke;
  margin-top: 10px;
}
/* </style> <!-- http://doc.jsfiddle.net/use/hacks.html#css-panel-hack --> <meta name="viewport" content="width=device-width, initial-scale=1" /> <style> */