* {
    margin: 0;
    padding: 0;
}


/* Step 1: Common Properties: All required to make icons render reliably */
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#progress_bar_div {
    text-align: center;
    position: relative;
    margin-top: 20px;
    box-sizing: border-box;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #858796;
}

#progressbar .active {
    color: #1abc9c;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 11.11%;
    float: left;
    position: relative;
    text-align: center;
    z-index: 0;
}

#progressbar a {
    color:#858796;
}
#progressbar #farm:before {
    font-family: FontAwesome;
    content: "\f015";
}

#progressbar #crop:before {
    font-family: FontAwesome;
    content: "\f06c";
}

#progressbar #soil:before {
    font-family: FontAwesome;
    content: "\f0c9";
}

#progressbar #farm_manager:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #calib:before {
    font-family: FontAwesome;
    content: "\f201";
}

#progressbar #irrig:before {
    font-family: FontAwesome;
    content: "\f043";
}

#progressbar #fieldunit:before {
    font-family: FontAwesome;
    content: "\f277";
}

#progressbar #sensor:before {
    font-family: FontAwesome;
    content: "\f233";
} 

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

#progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: block;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background: #858796;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #858796;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background:#1abc9c;
}
