{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block top_script_block %}
{% endblock %}
            
{% block main_block %}
<h5 class="text-left">Add Drip</h5>
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header"><small></small></div>
            <div class="card-body">
                <form class="form-group" action="" method="post">
                    {% csrf_token %}
                        <div class="col">{{ irrigation_form.name|as_crispy_field}}</div>
                        <div class="col">{{ irrigation_form.discharge|as_crispy_field}}</div>
                        <div class="col">{{ irrigation_form.bln_single_lateral|as_crispy_field }}</div>
                        <div class="col">{{ irrigation_form.emitters_per_plant|as_crispy_field }}</div>
                        <div class="col">{{ irrigation_form.emitter_spacing|as_crispy_field }}</div>
                        <div class="col">{{ irrigation_form.plant_spacing|as_crispy_field }}</div>
                        <div class="col">{{ irrigation_form.row_spacing|as_crispy_field }}</div>
                        <div class="col">{{ irrigation_form.wetted_dia|as_crispy_field }}</div>
                        <div class="col">{{ irrigation_form.EU|as_crispy_field }}</div>
                        <div class="col">{{ irrigation_form.bln_ii|as_crispy_field }}</div>
                        <div class="col">{{ irrigation_form.irrigation_interval|as_crispy_field }}</div>
                    <input type="submit" value="Submit" class="btn btn-info btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    