{% load crispy_forms_tags %}
<form class="create-form" method="post" data-url="{% url 'waiss:add_calib' %}">
	{% csrf_token %}
	<div class="modal-header">
	        <h6 class="modal-title" >Create Calibration Equation</h6>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
        {{form.name|as_crispy_field}}
        <div class="row">
            <div class="col-md">
                <select name="calib_equation" class="select form-control custom-select" required id="id_calib_equation" onchange="test()">
                    <option value="{{select_value}}">{{select_value}}</option>
                    <option value="">----------</option>
                    <option value="linear">Linear</option>
                    <option value="quadratic">Quadratic</option>
                    <option value="exponential">Exponential</option>
                    <option value="logarithmic">Logarithmic</option>
                    <option value="symmetrical sigmoidal">Symmetrical Sigmoidal</option>
                    <option value="asymmetrical sigmoidal">Asymmetrical Sigmoidal</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md"><span id="eqn_form"></span></div>
        </div>
        <div class="row">
            <div class="col-md">{{form.coeff_a|as_crispy_field}}</div>
            <div class="col-md">{{form.coeff_b|as_crispy_field}}</div>
            <div class="col-md">{{form.coeff_c|as_crispy_field}}</div>
            <div class="col-md">{{form.coeff_d|as_crispy_field}}</div>
            <div class="col-md">{{form.coeff_m|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-md">{{form.date_tested|as_crispy_field}}</div>
            <div class="col-md">{{form.tested_by|as_crispy_field}}</div>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-info">Create</button>
	</div>
</form>