{% load crispy_forms_tags %}
<form class="create-form" method="post" data-url="{% url 'waiss:add_border' %}">
    {% csrf_token %}
    <div class="modal-header">
		<h6 class="modal-title" >Create Border</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
        <small><i><b>Borders</b> are usually long, uniformly graded strips of land, separated by earth bunds. In Contrast to basin irrigation these bunds are not to contain the water for ponding but to guide it as it flows down the field. (FAO, 2021)</i></small>
		<br><br>
        <div class="col">{{form.name|as_crispy_field}}</div>
        <div class="col">{{form.discharge|as_crispy_field}}</div>
        <div class="col">{{form.area_slope|as_crispy_field}}</div>
        <div class="col">{{form.mannings_coeff|as_crispy_field}}</div>
		</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-info">Create</button>
	</div>
</form>      