{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="card mb-4">
            <div class="card-header py-3">I N P U T _ D A T A</div>
            <div class="card-body">
                <form class="form-group" action="{% url 'waiss:add_settings' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{ settings_form.name|as_crispy_field}}</div>
                        <div class="col">{{ settings_form.fieldunit|as_crispy_field}}</div>
                        <div class="col">{{ settings_form.usk|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ settings_form.fieldunitstatus|as_crispy_field}}</div>
                        <div class="col">{{ settings_form.withirrigation|as_crispy_field}}</div>
                        <div class="col">{{ settings_form.automaticthreshold|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ settings_form.servernumber|as_crispy_field}}</div>
                        <div class="col">{{ settings_form.fieldunitnumber|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ settings_form.numberofsamples|as_crispy_field}}</div>
                        <div class="col">{{ settings_form.sensorintegrationtime|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ settings_form.timestart|as_crispy_field}}</div>
                        <div class="col">{{ settings_form.timestop|as_crispy_field}}</div>
                        <div class="col">{{ settings_form.delay|as_crispy_field}}</div>
                        <div class="col">{{ settings_form.clockcorrection|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ settings_form.errors}}</div>
                    </div>
                    <input type="submit" value="Save" class="btn btn-secondary btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
        