{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="container-fluid size90">
    <form class="django-form" action="{% url 'waiss:add_calib' %}" method="post">
        <br>  
        <h6><em>Input calibration constants</em></h6>
        {% csrf_token %}
        <div class="row">
            <div class="col">{{calib_form.calib_name|as_crispy_field}}</div>
            <div class="col">{{calib_form.farm_name|as_crispy_field}}</div>
            <div class="col">{{calib_form.fieldunit|as_crispy_field}}</div>
            <div class="col">{{calib_form.sensor|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col">{{calib_form.calib_equation|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col">{{calib_form.calib_coeff_a|as_crispy_field}}</div>
            <div class="col">{{calib_form.calib_coeff_b|as_crispy_field}}</div>
            <div class="col">{{calib_form.calib_coeff_c|as_crispy_field}}</div>
            <div class="col">{{calib_form.calib_coeff_d|as_crispy_field}}</div>
            <div class="col">{{calib_form.calib_coeff_m|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col">{{calib_form.date_tested|as_crispy_field}}</div>
            <div class="col">{{calib_form.tested_by|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col">{{calib_form.errors}}</div>
        </div>
        <input type="submit" value="Submit" class="btn btn-secondary btn-block">
    </form>
    <br>
    <div>
        <h6>N O T E : Standard form of the equations used in this website are shown below. Use as guide during input of values.</h6>
        <p>1. Linear:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; MCv = <b>a</b> * <em>(analog_reading)</em> + <b>b</b>
            <br> 2. Quadratic:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp; MCv = <b>a</b> * <em>(analog_reading)</em>^2 + <b>b</b> * (analog_reading) + <b>c</b>
            <br> 3. Exponential:&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp; MCv = <b>a</b> * e^<b>b</b> * <em>(analog_reading)</em>
            <br> 4. Logarithmic:&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp; MCv = <b>a</b> * ln<em>(analog_reading)</em> + <b>b</b>
            <br> 5. Symmetrical Sigmoidal:&emsp; MCv = <b>a</b> + [(<b>b</b> - <b>c</b>)/(1 + (<em>(analog_reading)</em>/<b>d</b>)]^<b>m</b>
            <br> 6. Assymmetrical Sigmoidal:
        </p>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
        