{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card mb-4">
            <div class="card-header py-3">I N P U T _ D A T A</div>
            <div class="card-body">
                <form class="form-group" action="{% url 'waiss:add_farm' %}" method="post">
                    <br>
                    {% csrf_token %}
                        <div class="row">
                            <div class="col">{{ farm_form.farm_name|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ farm_form.farm_location|as_crispy_field }}</div>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-secondary btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    