{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="main-body">
    <div class="django-form">
        <form class="form-group" action="{% url 'waiss:addbasin' %}" method="post">
            <br>
            <h6><em>Input required information for you irrigation system.</em></h6>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ basin_form.basin_name|as_crispy_field}}
                </div>
                <div class="col">
                    {{ basin_form.basin_length|as_crispy_field}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ basin_form.discharge|as_crispy_field}}
                </div>
                <div class="col">
                    {{ basin_form.ea|as_crispy_field}}
                </div>
                <div class="col">
                    {{ basin_form.eff_adv_ratio|as_crispy_field}}
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-secondary btn-block">
        </form>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    