{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="card mb-4">
        <div class="card-header py-3">
          C O N F I R M
        </div>
        <div class="card-body">
        <p>Are you sure you wanna delete "{{item}}"?</p>
        <form class="form-group" action={% url 'waiss:delete_farmsummaries' item.id %} method="post">
            {% csrf_token %}
            <a href="{% url 'waiss:list_farm_summaries' %}">Cancel</a>
            <input type="submit" name="Confirm">
        </form>
</div>
</div>
</div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
