{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Irrigation System</h5>
        </div>
        <div class="modal-body">
            <small><em>Are you sure you want to delete irrigation system <b>"{{item}}"</b>?</em></small>
        </div>
        <div class="modal-footer">
            <form class="form-group" action={% url 'waiss:delete_irrigation' item.id %} method="post">
                {% csrf_token %}
            <button type="button" class="btn btn-secondary" href="{% url 'waiss:list_irrigation' %}" >Cancel</button>
            <button type="submit" class="btn btn-danger">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
