{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="row">
    <div class="col">
      <div class="card">
            <div class="card-header"><i><small>Edit Irrigation&nbsp;>&nbsp;<b><span class="text-info">{{item}}</span></b></small></i></div>
            <form class="form-group" action="" method="post">
            {% csrf_token %}
            <div class="card-body">
                    <p><small>Select from the 5 types of suface irrigation. Fillout required specifications.</small></p>
                    <div class="card-body">
                      <div class="col">{{ irrigation_form.name|as_crispy_field}}</div>
                      <div class="col">{{ irrigation_form.irrigation_system_type|as_crispy_field}}</div>
                      <div class="col">{{ irrigation_form.discharge|as_crispy_field}}</div>
                      <div class="col">{{ irrigation_form.emitter_discharge|as_crispy_field }}</div>
                      <div class="col">{{ irrigation_form.ea|as_crispy_field}}</div>
                      <div class="col">{{ irrigation_form.area_slope|as_crispy_field}}</div>
                      <div class="col">{{ irrigation_form.mannings_coeff|as_crispy_field}}</div>
                      <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-6">
                          <small>Common Manning's (retardance) coefficient <br>
                            &emsp;&emsp;<b>Surface</b> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>n</b><br>
                            &emsp;&emsp;Smooth, ban soil surfaces noncultivated, oil-mulch treated citrus	&emsp;&emsp;&emsp;&emsp;0.04 <br>
                            &emsp;&emsp;Small grain, drill rows parallel to border strip &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; 0.10<br>
                            &emsp;&emsp;Alfalfa, mint, broadcast small grain and similar crops	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 0.15 <br>
                            &emsp;&emsp;Dense sod crops, small grain with drill rows across the border strip	&emsp;&emsp;&emsp;0.25 </small>
                          </div>
                      </div>
                    </div>
                  <div class="accordion" id="accordion">
                      
                      <div class="card">
                        <div class="card-header text-center" id="headingOne">
                          <h6 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" type="button">
                              Type 1: Basin Irrigation System
                            </button>
                          </h6>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <div class="row">
                              <div class="col">{{ irrigation_form.basin_length|as_crispy_field}}</div>
                          </div>
                          </div>
                        </div>
                      </div>
                        <div class="card">
                          <div class="card-header text-center" id="headingTwo">
                            <h6 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" type="button">
                                Type 2: Border Irrigation System
                              </button>
                            </h6>
                          </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header text-center" id="headingThree">
                          <h6 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" type="button">
                              Type 3: Furrow Irrigation System
                            </button>
                          </h6>
                        </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col">{{ irrigation_form.bln_furrow_type|as_crispy_field}}</div>
                              </div>
                              <div class="row">
                                <div class="col">{{ irrigation_form.furrow_spacing|as_crispy_field}}</div>
                            </div>
                            <div class="row">
                              <div class="col">{{ irrigation_form.furrow_length|as_crispy_field}}</div>
                            </div>
                            </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header text-center" id="headingFour">
                          <h6 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" type="button">
                              Type 4: Sprinkler Irrigation System
                            </button>
                          </h6>
                        </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                              <div class="row">
                                  <div class="col">{{ irrigation_form.lateral_spacing|as_crispy_field }}</div>
                              </div>
                              <div class="row">
                                  <div class="col">{{ irrigation_form.sprinkler_spacing|as_crispy_field }}</div>
                              </div>
                              <div class="row">
                                <div class="col">{{ irrigation_form.bln_sprinkler_discharge|as_crispy_field }}</div>
                              </div>
                              <div class="row">
                                <div class="col-10 mx-auto">{{ irrigation_form.nozzle_diameter|as_crispy_field }}</div>
                              </div>
                              <div class="row">
                                  <div class="col-10 mx-auto">{{ irrigation_form.operating_pressure|as_crispy_field }}</div>
                              </div>
                              <div class="row">
                                  <div class="col-10 mx-auto">{{ irrigation_form.discharge_coefficient|as_crispy_field }}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header text-center" id="headingFive">
                            <h6 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" type="button">
                                Type 5: Drip Irrigation System
                              </button>
                            </h6>
                          </div>
                          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                              <div class="card-body">
                                <div class="row">
                                    <div class="col">{{ irrigation_form.bln_single_lateral|as_crispy_field }}</div>
                                </div>
                                
                                <div class="row">
                                    <div class="col">{{ irrigation_form.emitters_per_plant|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ irrigation_form.emitter_spacing|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ irrigation_form.plant_spacing|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ irrigation_form.row_spacing|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ irrigation_form.wetted_dia|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ irrigation_form.EU|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                  <div class="col">{{ irrigation_form.bln_ii|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                  <div class="col"></div>
                                  <div class="col-8">{{ irrigation_form.irrigation_interval|as_crispy_field }}</div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <br>
                      <input type="submit" value="Save" class="btn btn-info btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    