{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" breadcrumb-item active" aria-current="page">Database</li>
        <li class="breadcrumb-item active" aria-current="page"><a  href="javascript:history.go(-1)"onMOuseOver="self.status.referrer;return true">Drip Irrigation System</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Drip</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card mb-4">
            <div class="card-header py-3">I N P U T _ D A T A</div>
            <div class="card-body">
                <form class="form-group" action="" method="post">
                {% csrf_token %}
                    <div class="row">
                        <div class="col">{{ irrigation_form.name_drip|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.bln_single_lateral|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.emitters_per_plant|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.emitter_spacing|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.plant_spacing|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.row_spacing|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.wetted_dia|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.EU|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.irrigation_interval|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.errors }}</div>
                    </div>
                    <input type="submit" value="Save" class="btn btn-secondary btn-block">
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mx-auto">
        <div class="card mb-4">
            <img class="card-img-top" src={% static "theme/drip.gif" %} alt="Card image cap">
            <div class="card-body">
                <p>insert better GUIDE image para sa parameters na hinihingi</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    