{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}


{% block main_block %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header"><i><small>Edit Calibration&nbsp;>&nbsp;<b><span class="text-info">{{item}}</span></b></small></i></div>
            <div class="card-body">
                <form class="django-form" action="" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="row">
                          <div class="col">{{calib_form.fieldunit|as_crispy_field}}</div>
                      </div>
                      <div class="row">
                          <div class="col">{{calib_form.name|as_crispy_field}}</div>
                      </div>
                      <div class="row">
                          <div class="col">{{calib_form.calib_equation|as_crispy_field}}</div>
                          <div class="col-5"><br>&emsp;&emsp;<span class="text-success"><small><b>Equation Standard Form</b></small></span></div>
                      </div>
                      <div class="col">
                          <div class="row">
                              <div class="col-6">{{calib_form.calib_coeff_a|as_crispy_field}}</div>
                              <div class="col-6 text-center"><small><i>Linear: MC<sub>v</sub> = a(reading) + b<br>
                                Quadratic: MC<sub>v</sub> = a(reading)<sup>2</sup> + b(reading) + c</i></small>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-6">{{calib_form.calib_coeff_b|as_crispy_field}}</div>
                              <div class="col-6 text-center"><small><i>Exponential: MC<sub>v</sub> = ae<sup>b</sup>(reading)<br>
                                Logarithmic: MC<sub>v</sub> = aln(reading) + b</i></small>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-6">{{calib_form.calib_coeff_c|as_crispy_field}}</div>
                              <div class="col-6 text-center"><small><i>Symmetrical Sigmoidal: MC<sub>v</sub> = d + (a - d)/(1 + (reading/c)<sup>b</sup>)</i></small>
                                  <br><small><i>Assymmetrical Sigmoidal: <br>
                                    MC<sub>v</sub> = d + (a - d)/((1 + (reading/c)<sup>b</sup>))<sup>m</sup></i></small>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-6">{{calib_form.calib_coeff_d|as_crispy_field}}</div>
                          </div>
                          <div class="row">
                              <div class="col-6">{{calib_form.calib_coeff_m|as_crispy_field}}</div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">{{calib_form.date_tested|as_crispy_field}}</div>
                      </div>
                      <div class="row">
                          <div class="col">{{calib_form.tested_by|as_crispy_field}}</div>
                      </div>
                      <div class="row">
                          <div class="col">{{calib_form.errors}}</div>
                      </div>
                    <input type="submit" value="Submit" class="btn btn-info btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
        