{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="container-fluid size90">
    <br>
    <form class="form-group" action="" method="post">
        <h6><em>Input new Intake Family.</em></h6>
        {% csrf_token %}
        <div class="row">
            <div class="col">{{intakefamily_form.intakefamily|as_crispy_field}}</div>
            <div class="col">{{intakefamily_form.soil|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col">{{intakefamily_form.farm_name|as_crispy_field}}</div>
            <div class="col">{{intakefamily_form.fieldunit|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col">{{intakefamily_form.coeff_a|as_crispy_field}}</div>
            <div class="col">{{intakefamily_form.coeff_b|as_crispy_field}}</div>
            <div class="col">{{intakefamily_form.coeff_c|as_crispy_field}}</div>
            <div class="col">{{intakefamily_form.coeff_f|as_crispy_field}}</div>
            <div class="col">{{intakefamily_form.coeff_g|as_crispy_field}}</div>
        </div>
        <div class="row">
          <div class="col">{{intakefamily_form.source|as_crispy_field}}</div>
        </div>
        <input type="submit" value="Submit" class="btn btn-secondary btn-block"
    </form>
    <br>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
        