{% load crispy_forms_tags %}
<form class="update-form" method="post" data-url="{% url 'waiss:edit_farm' form.instance.id %}">
    {% csrf_token %}
    <div class="modal-header">
		<h5 class="modal-title">Update Farm</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
        {{form.name|as_crispy_field}}
		{{form.farm_area|as_crispy_field}}
		{{form.brgy|as_crispy_field}}
		{{form.municipality|as_crispy_field}}
		{{form.province|as_crispy_field}}
		{{form.select_coordinates|as_crispy_field}}
		<div class="collapse" id="collapseOne">
			{{form.lat|as_crispy_field}}
			{{form.long|as_crispy_field}}
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-info">Save Changes</button>
	</div>
</form>