{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block top_script_block %}
{% endblock %}
            
{% block main_block %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" breadcrumb-item active" aria-current="page">Database</li>
        <li class="breadcrumb-item active" aria-current="page"><a  href="javascript:history.go(-1)"onMOuseOver="self.status.referrer;return true">Sensors</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Sensor Information</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg mx-auto">
        <div class="card mb-4">
            <div class="card-body">
                <form class="form-group" action="{% url 'waiss:add_sensor' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{ sensor_form.fieldunit|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ sensor_form.sensor_name|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ sensor_form.depth|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ sensor_form.errors }}</div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-info btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
            
{% block bottom_script_block %}
{% endblock %}
                