{% load crispy_forms_tags %}
<form class="update-form" method="post" data-url="{% url 'waiss:edit_sprinkler' form.instance.id %}">
	{% csrf_token %}
	<div class="modal-header">
		<h5 class="modal-title">Update Sprinkler</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		{{ form.name|as_crispy_field}}
		{{ form.lateral_spacing|as_crispy_field }}
		{{ form.sprinkler_spacing|as_crispy_field }}
		{{ form.ea|as_crispy_field }}
		{{ form.with_q_bln|as_crispy_field }}
		<div class="row collapse" id="collapse_irrig_Yes">
			<div class="col">
				{{ form.discharge|as_crispy_field}}
			</div>
		</div>
		<div class="row collapse" id="collapse_irrig_No">
			<div class="col">
				{{ form.nozzle_diameter|as_crispy_field }}
				{{ form.operating_pressure|as_crispy_field }}<!--Use ave discharge coefficient (0.96)-->
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-info">Save Changes</button>
	</div>
</form>