{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header"><i><small>Edit Farm Manager&nbsp;>&nbsp;<b><span class="text-info">{{item.first_name}} {{item.last_name}}</span></b></small></i></div>
            <div class="card-body">
                <form class="form-group" action="" method="post">   
                    {% csrf_token %} 
                    <div class="row">
                        <div class="col">{{personnel_form.first_name|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{personnel_form.last_name|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{personnel_form.number|as_crispy_field}}</div>
                    </div>
                    <input type="submit" value="Save" class="btn btn-info btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
        