{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="container-fluid size90">
    <form class="form-group" action="" method="post">
        <br>
        {% csrf_token %}
        <h6><em>Input Field Unit Information</em></h6>
        <div class="row">
            <div class="col">{{ fieldunit_form.name|as_crispy_field }}                </div>
            <div class="col">{{ fieldunit_form.farm_name|as_crispy_field }}</div>
        </div>
        <input type="submit" value="Submit" class="btn btn-secondary btn-block">
        </form>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    