{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" breadcrumb-item active" aria-current="page">Database</li>
        <li class="breadcrumb-item active" aria-current="page"><a  href="javascript:history.go(-1)"onMOuseOver="self.status.referrer;return true">Basin Irrigation System</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Basin</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="card mb-4">
        <div class="card-header py-3">
            <small><i>Add new <b>Basin Irrigation System</b>. <br>
            Refer to the image on the side for information required.</i></small>
        </div>
            <div class="card-body">
                <form class="form-group" action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{ irrigation_form.name_basin|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.basin_length|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ irrigation_form.discharge|as_crispy_field}}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ irrigation_form.ea|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"> {{ irrigation_form.errors }}</div>
                    </div>
                    <input type="submit" value="Save" class="btn btn-secondary btn-block">
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mx-auto">
        <div class="card mb-4">
            <img class="card-img-top" src={% static "theme/basin.jpg" %} alt="Card image cap">
            <div class="card-body">
                <p><em><small>insert better GUIDE image para sa parameters na hinihingi</small></em></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    