{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="row">
    <div class="col-lg-10 mx-auto">
        <div class="card mb-4">
            <div class="card-header py-3"><i class="fas fa-tasks"></i>&emsp;System Setup</div>
            <div class="card-body">
                <form class="form-group" action="{% url 'waiss:sys_basin' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{farmsummaries_form.name|as_crispy_field }}</div>
                        <div class="col-2"></div>
                        <div class="col"></div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farmsummaries_form.farm_name|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:add_farm' %}"><i class="fas fa-plus"></i></a></div>
                        <div class="col">{{farmsummaries_form.farm_manager|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:add_personnel' %}"><i class="fas fa-plus"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farmsummaries_form.fieldunit|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:add_fieldunit' %}"><i class="fas fa-plus"></i></a></div>
                        <div class="col">{{farmsummaries_form.settings|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:add_settings' %}"><i class="fas fa-plus"></i></a></div>
                    </div>
                    <div>
                        <div class="col">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<small><em><b>Add sensor new here</b></em>&emsp;&nbsp;<a href="{% url 'waiss:add_sensor' %}"><i class="fas fa-plus"></i></a></small></div>
                        <div class="col-2"></div>
                        <div class="col"></div>
                        <div class="col-2"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">{{farmsummaries_form.crop|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:add_crop' %}"><i class="fas fa-plus"></i></a></div>
                        <div class="col">{{farmsummaries_form.soil|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:addsoil' %}"><i class="fas fa-plus"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farmsummaries_form.intakefamily|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:add_intakefamily' %}"><i class="fas fa-plus"></i></a></div>
                        <div class="col">{{farmsummaries_form.calib_eqn|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:add_calib' %}"><i class="fas fa-plus"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farmsummaries_form.basin_sys|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:addbasin' %}"><i class="fas fa-plus"></i></a></div>
                        <div class="col">{{farmsummaries_form.border_sys|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:addborder' %}"><i class="fas fa-plus"></i></a></div>
                    </div><div class="row">
                        <div class="col">{{farmsummaries_form.furrow_sys|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:addfurrow' %}"><i class="fas fa-plus"></i></a></div>
                        <div class="col">{{farmsummaries_form.sprinkler_sys|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:addsprinkler' %}"><i class="fas fa-plus"></i></a></div>
                    </div><div class="row">
                        <div class="col">{{farmsummaries_form.drip_sys|as_crispy_field }}</div>
                        <div class="col-2"><a href="{% url 'waiss:adddrip' %}"><i class="fas fa-plus"></i></a></div>
                        <div class="col"></div>
                        <div class="col-2"></div>
                    </div>
                    <input type="submit" value="Save" class="btn btn-secondary btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    