{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="main-body">
    <br>
    <h6><em>Field Unit Preffered Settings</em></h6>
    <form class="form-group" action="{% url 'waiss:fieldunitsettings' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{ fieldunitsettings_form.fieldunit|as_crispy_field}}
            </div>
            <div class="col">
                {{ fieldunitsettings_form.usk|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ fieldunitsettings_form.fieldunitstatus|as_crispy_field}}
            </div>
            <div class="col">
                {{ fieldunitsettings_form.withirrigation|as_crispy_field}}
            </div>
            <div class="col">
                {{ fieldunitsettings_form.automaticthreshold|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ fieldunitsettings_form.servernumber|as_crispy_field}}
            </div>
            <div class="col">
                {{ fieldunitsettings_form.fieldunitnumber|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ fieldunitsettings_form.numberofsamples|as_crispy_field}}
            </div>
            <div class="col">
                {{ fieldunitsettings_form.sensorintegrationtime|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ fieldunitsettings_form.timestart|as_crispy_field}}
            </div>
            <div class="col">
                {{ fieldunitsettings_form.timestop|as_crispy_field}}
            </div>
            <div class="col">
                {{ fieldunitsettings_form.delay|as_crispy_field}}
            </div>
            <div class="col">
                {{ fieldunitsettings_form.clockcorrection|as_crispy_field}}
            </div>
            <input type="submit" value="Save" class="btn btn-secondary btn-block">
        </div>
    </form>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
        