<!DOCTYPE html> 
{% load static %}
{% load crispy_forms_tags %}

<html>

<head>
    {% block meta_block %}
    {% endblock %}
    <meta charset=”utf-8”> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    <link rel="icon" type="image/png" href={% static "theme/waiss_logo.png" %}/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  
    <!-- Custom fonts for this template-->
    <link href={% static "vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href={% static "css/sb-admin-2.min.css" %} rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href={% static "vendor/datatables/dataTables.bootstrap4.min.css" %} rel="stylesheet">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <link href={% static "css/footer.css" %} rel="stylesheet" type="text/css">
    <link href={% static "css/progress-bar.css" %} rel="stylesheet" type="text/css">
    <link href={% static "css/highcharts.css" %} rel="stylesheet" type="text/css">
    <title>
        {% block title_block %}
        WAISS: Dashboard
        {% endblock %}
    </title>
</head>

<body id="page-top">

{% block style_block%}
<style>
  .icon-bar {
    height: 30px;
  }
  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
</style>
{% endblock %}

  {% block dashboard_block %}
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-left" href="index.html">
          <div class="sidebar-brand-icon">
            <img src={% static "theme/waiss_logo.png" %} height=50px>
          </div>
          <div class="sidebar-brand-text mx-3">WAISS</div>
        </div>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'waiss:index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link " href="{% url 'waiss:list_system' %}">
            <i class="fas fa-clipboard-list"></i>
            <span class="text-gray-100">Systems</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'waiss:list_farm' %}">
            <i class="fas fa-map-marked-alt"></i>
            <span class="text-gray-100">Farms</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'waiss:list_personnel' %}">
            <i class="fas fa-users"></i>
            <span class="text-gray-100">Farm Managers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'waiss:list_crop' %}">
            <i class="fas fa-seedling"></i>
            <span class="text-gray-100">Crops</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'waiss:list_soil' %}">
            <i class="fas fa-layer-group"></i>
            <span class="text-gray-100">Soils</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'waiss:list_calib' %}">
            <i class="fas fa-chart-line"></i>
            <span class="text-gray-100">Calibration Constants</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseParam" aria-expanded="true" aria-controls="collapseParam">
            <i class="fas fa-cloud-rain"></i>
            <span class="text-gray-100">Irrigation Systems</span>
          </a>
            <div id="collapseParam" class="collapse" aria-labelledby="headingParam" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href={% url 'waiss:list_basin' %}>Basin</a>
                  <a class="collapse-item" href={% url 'waiss:list_border' %}>Border</a>
                  <a class="collapse-item" href={% url 'waiss:list_furrow' %}>Furrow</a>
                  <a class="collapse-item" href={% url 'waiss:list_sprinkler' %}>Sprinkler</a>
                  <a class="collapse-item" href={% url 'waiss:list_drip' %}>Drip</a>
              </div>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFU" aria-expanded="true" aria-controls="collapseParam">
            <i class="fas fa-broadcast-tower"></i>
            <span class="text-gray-100">Field Units</span>
          </a>
          <div id="collapseFU" class="collapse" aria-labelledby="headingParam" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href={% url 'waiss:list_fieldunit' %}>Field Units</a>
                <a class="collapse-item" href={% url 'waiss:list_sensor' %}>Sensors & Readings</a>
                <a class="collapse-item" href={% url 'waiss:list_gravi' %}>Gravimetric MC<sub>V</sub></a>
                <a class="collapse-item" href={% url 'waiss:list_rainfall' %}>Rainfall</a>
                {% if drip %}
                <a class="collapse-item" href={% url 'waiss:list_shaded' %}>Percent Shaded Area</a>
                {% endif %}
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->
  
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
            <!-- Nav Item - Messages -->
            {% block time_block %}
            <li class="nav-item">
              <small class="nav-link mt-1 text-dark"><i>Today is <b>{{today}}</b>.</i></small>
            </li>
            {% endblock %}
            <li class="nav-item">
              <a class="nav-link" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                {% for msgs in final_list %}
                <a class="dropdown-item d-flex align-items-center" href={% url 'waiss:view-conversation' msgs.number %}>
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">{{msgs.timestamp}}</div>
                    <span class="small font-weight-bold">{{msgs.number}}: {{msgs.msg}}</span>
                  </div>
                </a>
                {% endfor %}
                <a class="dropdown-item text-center small text-gray-500" href="{% url 'waiss:messages' %}">Show All Alerts</a>
              </div>
            </li>
  
              <div class="topbar-divider d-none d-sm-block"></div>
  
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-dark small">{{ user.get_username }}</span>
                  <img class="img-profile rounded-circle" src={% static "theme/lady_sarai.png" %}>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="{% url 'waiss:profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
              {% else %}
              <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
              {% endif %}
            </ul>
          </nav>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
          {% endblock %}

          {% block main_block %}
          <div class="row">
            <div class="col-md-4 text-gray-800">
              <form method="post">
                {% csrf_token %}
                <select name="dashboard_submit" id="selected_system" class="btn btn-secondary btn-sm" onchange="this.form.submit()">
                  <option>{{selected_system}}</option>
                  {% for system in form %}
                  <option value="{{system.name}}">{{system}}</option>
                  {% endfor %}
                </select>
                <a href={% url 'waiss:new_farm' %} class="btn btn-sm btn-info"><i class="fas fa-plus-circle" alt="add button" data-toggle="tooltip" data-placement="right" title="Create new WAISS."></i></a>
              </form>
            </div>
            <div class="col-md">
              <div class="small text-right mt-2">
                <i>Transplanted last <b>{{crop_transplanted}}.</b> Advisories are sent to <b>{{first_name}} {{last_name}}</b>.</i>
              </div>
            </div>
            <div class="col-md-3">
              <nav class="navbar navbar-expand icon-bar">
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="btn btn-sm btn-danger text-white" role="button">
                        <i class="fas fa-power-off"></i>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-sm btn-warning text-white" role="button">
                      <i class="fas fa-sync-alt"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-sm btn-success text-white" role="button">
                      <i class="fas fa-battery-full"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-sm btn-primary text-white" role="button">
                      <i class="fas fa-signal"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row mt-2">
            <!--Crop Card -->
            <div class="col-xl col-md-6 mb-4">
              <div class="card border-left-primary shadow">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col">
                      <div class="mb-0 font-weight-bold text-gray-800">{{crop}}</div>
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Crop</div>
                      <small>{{crop_dat}} / {{crop_growingperiod}} days {% if drip %}| MAD: {{crop_mad}}%{% endif%}<br> <!--crop_dat based on latest mc_reading-->
                        {% if basin or border or furrow or sprinkler %}MAD: {{crop_mad}}%{% endif%}
                        {% if drip %}Area Shaded: {{area_shaded}} %  <button class="btn btn-xs text-primary show-form" data-url="{% url 'waiss:add_shaded' %}"><u>Update</u></button>{% endif%}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Soil Card -->
            <div class="col-xl col-md-6 mb-4">
              <div class="card border-left-info shadow">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col">
                      <div class="mb-0 mr-3 font-weight-bold text-gray-800">{{soil}}</div>
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Soil</div>
                      <small>
                        {% if basin or border or furrow %} <!-- Surface irrigation -->
                          FC: {{soil_fc}}% &nbsp;PWP: {{soil_pwp}}% MCv<br>Intake Family: {{intake_family}}
                        {% elif sprinkler or drip%}
                          FC: {{soil_fc}}% MCv<br>PWP: {{soil_pwp}}% MCv
                        {% else %} <!-- No irrigation -->
                          FC: {{soil_fc}}% MCv<br>PWP: {{soil_pwp}}% MCv
                        {% endif %}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% if basin or border or furrow or drip or sprinkler %}
            <!-- Irrigation Card -->
            <div class="col-xl col-md-6 mb-4">
              <div class="card border-left-warning shadow">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col">
                      <div class="mb-0 font-weight-bold text-gray-800">
                        {% if basin %} {{basin}}
                          {% elif drip %} {{drip}}
                          {% elif border %} {{border}}
                          {% elif furrow %} {{furrow}}
                          {% elif sprinkler %} {{sprinkler}}
                        {% endif %}</div>
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Irrigation System</div>
                        {% if no_irrigation %}
                        <small><i>no irrigation system</i></small><br><br><br>
                        {% else %}
                        <small>type: 
                          {% if basin %} basin
                          {% elif drip %} drip
                          {% elif border %} border
                          {% elif furrow %} furrow
                          {% elif sprinkler %} sprinkler
                          {% endif %}
                          <br> unit discharge: 
                          {% if not drip %}
                          {{irrigation_q}} lps
                          {% else %}
                          {{irrigation_q}} l/day
                          {% endif %}
                        </small>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <!-- No irrigation -->
            {% endif %}
          <!-- Calibration Card-->
            <div class="col-xl col-md-6 mb-4">
              <div class="card border-left-success shadow">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col">
                      <div class="mb-0 mr-3 font-weight-bold text-gray-800">{{calib}}</div>
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Calibration</div>
                      <small>{{calib_eqn}} <br>
                        {% if calib_eqn == "quadratic" %}{{calib_coeff_a}}x<sup>2</sup> + {{calib_coeff_b}}x + {{calib_coeff_c}}{% endif %}
                        {% if calib_eqn == "linear" %}{{calib_coeff_a}}x + {{calib_coeff_b}}{% endif %}
                        {% if calib_eqn == "exponential" %}{{calib_coeff_a}}xe<sup>{{calib_coeff_b}}</sup>{% endif %}
                        {% if calib_eqn == "logarithmic" %}{{calib_coeff_a}}ln(x) + {{calib_coeff_b}}{% endif %}
                        {% if calib_eqn == "symmetrical sigmoidal" %}{{calib_coeff_d}} + ({{calib_coeff_a}} - {{calib_coeff_d}})/(1 + (x/{{calib_coeff_c}})<sup>{{calib_coeff_b}}</sup>){% endif %}
                        {% if calib_eqn == "asymmetrical sigmoidal" %}{{calib_coeff_d}} + ({{calib_coeff_a}} - {{calib_coeff_d}})/((1 + (x/c{{calib_coeff_c}})<sup>{{calib_coeff_b}}</sup>))<sup>{{calib_coeff_m}}</sup>{% endif %}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">
            <!-- Irrigation Advisory -->
            <div class="col-md-3">
              <div class="card border-left-primary shadow mb-4">
                <div class="card-body">
                  <div class="text-center">
                    <img src={% static "theme/waiss_logo.png" %} height=80px>
                    <br>
                    <div class="mb-0 mr-3 font-weight-bold text-gray-800">
                      <i>
                        {% if no_irrigation %}
                        <div class="small"><br>Volume : {{total_volume}} liter {% if drip != None %}/ plant{% endif %}</div>
                        <div class="small">F<sub>n</sub> : {% if net_application_depth < 0 %} 0 mm {% else %}{{net_application_depth}} mm {% endif %}</div>
                        {% else %}
                        {% if mc_ave < MC_TO_IRRIGATE %}
                        Irrigate for {{irrigation_period}} mins <br><br>
                        <div class="small">or<br>Volume : {{total_volume}} liter {% if drip != None %}/ plant{% endif %}</div>
                        <div class="small">F<sub>n</sub> : {% if net_application_depth < 0 %} 0 mm {% else %}{{net_application_depth}} mm {% endif %}</div>
                        {% endif %}
                        {% endif %}
                        {% if not mc_ave < MC_TO_IRRIGATE and mc_ave != "" %}
                        <br><br>
                        irrigation not needed
                        <br><br>
                        {% endif %}
                        {% if  mc_ave == "" %}
                        <br><br>
                        no MC<sub>V</sub> data available
                        <br><br>
                        {% endif %}
                      </i>
                    </div>
                    <hr>
                    <div class="small">Latest MC<sub>v</sub>: {{mc_ave}} % </div> 
                    <div class="small">MC<sub>v</sub> to irrigate: {{MC_TO_IRRIGATE}} %</div>
                    <div class="small">Effective DRZ: {{drz}} mm</div><br>
                  </div>
                </div>
              </div>
            </div>
            <!-- Line Chart -->
            <div class="col-md-9">
              <div class="card shadow mb-4">
                <!-- Card Body -->
                <div class="card-body">
                  <figure class="highcharts-figure">
                    <div id="container">
                    </div>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- icons -->
        <a class="float icon-a fa-rotate-90" id="menu-share" style="display: inline-block;">
          <i class="fas fa-share fa-flip-horizontal my-float icon-i"></i>
        </a>
        <ul class="icon-ul">
          <li class="icon-li">
            <button class="btn show-form icon-a" data-url="{% url 'waiss:add_mc' %}"><i class="fa fa-bars" aria-hidden="true" title="add field unit soil moisture content"></i></button>
          </li>
          <li class="icon-li">
            <button class="btn show-form icon-a" data-url="{% url 'waiss:add_gravi' %}"><img src={% static "theme/microwave-white-18dp.svg" %} title="add gravimetric soil moisture content"></button>
          </li>
          {% if drip %}
          <li class="icon-li">
            <button class="btn show-form icon-a" data-url="{% url 'waiss:add_shaded' %}"><i class="fa fa-sun" title="add percent shaded area"></i></button>
          </li>
          {% endif%}
          <li class="icon-li">
            <button class="btn show-form icon-a" data-url="{% url 'waiss:add_rainfall' %}"><img src={% static "theme/rain40px.png" %} height="18px" title="add irrigation/rainfall"></button>
          </li>
        </ul>
        <!-- Create/Update Modal -->
        <div class="modal fade" id="modal-mc">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"></div>
          </div>
        </div>
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/modal.js' %}"></script>
      </div>
    </div>
  </div>
{% endblock %}
</div>
</div>
</div>
      <!-- End of Main Content -->
</div>
  <!-- End of Content Wrapper -->
  <!-- End of Page Wrapper -->
  
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% block bottom_script_block %}
<script type="text/javascript">
  Highcharts.chart('container', {
  chart: {
      type: 'spline'
  },
  title: {
      text: '{{fieldunit.name}}'
  },
  subtitle: {
      text: 'Soil Moisture Content'
  },
  xAxis: {
      categories: [{% for t in mc_time_1 %}"{{t.date|date:'m/d'}} {{t.time|time:'H:i'}}",{% endfor %}],
      tickmarkPlacement: 'on',
      title: {
          enabled: false
      }
  },
  yAxis: [{
    title: {
      text: 'Depth (mm)'
    },
    min: 0,
    opposite: true
  }, {
    title: {
      text: 'MCv (%)'
    },
    min: 0,
    opposite: false
  }],
  tooltip: {
      split: true,
      valueSuffix: ''
  },
  plotOptions: {
      area: {
          stacking: 'normal',
          lineColor: '#666666',
          lineWidth: 1,
          marker: {
              lineWidth: 1,
              lineColor: '#666666'
          }
      }
  },
  series: [{
    type: 'areaspline',
    name: 'FC',
    yAxis: 1,
    data:[{% for x in series_fc %}{{x}},{% endfor %}],
    checkbox: { checked: true },
    color: 'rgb(91, 192, 222)',
    fillOpacity : '0.1',
    dashStyle: 'dot',
    marker: {
      enabled: false,
      lineWidth: 1,}
  }, {
    type: 'areaspline',
    name: 'PWP',
    yAxis: 1,
    data: [{% for x in series_pwp %}{{x}},{% endfor %}],
    checkbox: { checked: true },
    color: 'rgb(217, 83, 79)',
    fillOpacity : '0.1',
    dashStyle: 'dot',
    marker: {
      enabled: false,
      lineWidth: 1}
  }, {
    type: 'column',
    name: 'Net Application Depth (mm)',
    yAxis: 0,
    data:[{% for x in Fn_collection %}{{x}},{% endfor %}],
    checkbox: { checked: true },
    dashStyle: 'dot',
    marker: {
      enabled: false,
      lineWidth: 1}
  }, {
    type: 'column',
    name: 'P/Irrig (mm)',
    yAxis: 0,
    data:[{% for x in rainfall %}{{x}},{% endfor %}],
    checkbox: { checked: true },
    dashStyle: 'dot',
    marker: {
      enabled: false,
      lineWidth: 1}

  }, {
    type: 'scatter',
    name: 'Gravi MCv (%)',
    yAxis: 1,
    data: [{% for x in gravimetric_collection %}{{x}},{% endfor %}],
    checkbox: { checked: true },
    marker: {
      enabled: true}
  }, {
    name: '{{s1}} ({{depth_1}} m)',
    checkbox: { checked: true },
    yAxis: 1,
    data: [{% for m in mc_1 %}{{m}},{% endfor %}],
    marker: {
      enabled: false,
      lineWidth: 1}
  }, {
    name: '{{s2}} ({{depth_2}} m)',
    checkbox: { checked: true },
    yAxis: 1,
    data: [{% for m in mc_2 %}{{m}},{% endfor %}],
    marker: {
      enabled: false,
      lineWidth: 1}
  }, {
    name: '{{s3}} ({{depth_3}} m)',
    checkbox: { checked: true },
    yAxis: 1,
    data: [{% for m in mc_3 %}{{m}},{% endfor %}],
    marker: {
      enabled: false,
      lineWidth: 1}
  }, {
    type: 'spline',
    name: 'Weighted MCv',
    yAxis: 1,
    data:[{% for m in mc_ave_collection %}{{m}},{% endfor %}],
    checkbox: { checked: true },
    dashStyle: 'dash',
    marker: {
      enabled: true,
      lineWidth: 1}
  }],
});
</script>
{% endblock %}
    
</body>
</html>