<!DOCTYPE html> 
{% load static %}
{% load crispy_forms_tags %}

<html>

<head>
    {% block meta_block %}
    {% endblock %}
    <meta charset=”utf-8”> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    <link rel="icon" type="image/png" href={% static "theme/waiss_logo.png" %}/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  
    <!-- Custom fonts for this template-->
    <link href={% static "vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href={% static "css/sb-admin-2.min.css" %} rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
      //Update clock
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            var ampm = h >= 12 ? 'PM' : 'AM';
            m = checkTime(m);
            s = checkTime(s);
            h = h % 12;
            h = h ? h : 12; // the hour '0' should be '12'

            document.getElementById('time').innerHTML = h + ":" + m + ":" + s + ' ' + ampm;

            var month = today.getMonth() + 1;
            var day = today.getDate();
            var year = today.getFullYear();

            document.getElementById('date').innerHTML = month + '/' + day + '/' + year;

            var t = setTimeout(startTime, 500);
        }
        console.log(startTime(new Date));
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>
    <script>
      //Data Table
      $(document).ready( function () {
        $('#dataTable').DataTable();
      } );
    </script>
    
    <title>
        {% block title_block %}
        WAISS
        {% endblock %}
    </title>
</head>

<body id="page-top" onload="startTime()">

  {% block style_block%}
  <style>
  .icon-bar {
    width: 60px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    padding-bottom:100px;
    }

    .icon-bar a {
      display: block;
      text-align: center;
      padding: 16px;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
    }

    .icon-bar a:hover {
      background-color: rgba(0, 0, 0, 0);
    }
    .progress_bar .pro-bar {
      background: hsl(0, 0%, 97%);
      box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
      height:4px;
      margin-bottom: 12px;
      margin-top: 50px;
      position: relative;
    }

.progress_bar .progress_bar_title{
    color: hsl(218, 4%, 50%);
    font-size: 15px;
    font-weight: 300;
    position: relative;
    top: -28px;
    z-index: 1;
}
.progress_bar .progress_number{
    float: right;
    margin-top: -24px;
}
.progress_bar .progress-bar-inner {
    background-color: hsl(0, 0%, 88%);
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}
.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}
.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}
.bg-image {
  background-image: url({% static "theme/bg.png" %});
}
</style>
  {% endblock %}

  {% block top_script_block %}
  {% endblock %}

  {% block dashboard_block %}

  <!-- Page Wrapper -->
  
  <div id="wrapper">
    <!-- Sidebar -->
    
    <ul class="navbar-nav bg-image sidebar sidebar-light accordion font-weight-bold" id="accordionSidebar">
      <li class="nav-item">
        <a class="nav-item">
          <br>
          <div class="navbar-brand-icon">
            &nbsp;
            <img src={% static "theme/waiss_logo.png" %} width=50px height=50px>
            <span class="text-gray-100">WAISS</span>
          </div>
        </a>
      </li>
      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href={% url 'waiss:index' %}>
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span class="text-gray-100">Dashboard</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading text-gray-100">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link " href="{% url 'waiss:add_farm' %}">
          <i class="fas fa-seedling fa-cog"></i>
          <span class="text-gray-100"> Add New Farm</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'waiss:add_fieldunit' %}">
          <i class="fas fa-seedling fa-cog"></i>
          <span class="text-gray-100"> Add New Field Unit</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'waiss:add_data' %}">
          <i class="fas fa-seedling fa-cog"></i>
          <span class="text-gray-100"> Add MC Data </span>
        </a>
      </li>

      <!-- Nav Item - Database Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDatabase" aria-expanded="true" aria-controls="collapseDatabase">
        <i class="fas fa-fw fa-database"></i>
        <span class="text-gray-100">Database</span>
      </a>
      <div id="collapseDatabase" class="collapse" aria-labelledby="headingDatabase" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href={% url 'waiss:list_farm' %}>Farms</a>
            <a class="collapse-item" href={% url 'waiss:list_personnel' %}>Personnel</a>
            <a class="collapse-item" href={% url 'waiss:list_crop' %}>Crops</a>
            <a class="collapse-item" href={% url 'waiss:list_soil' %}>Soil Type</a>
            <a class="collapse-item" href={% url 'waiss:list_intakefamily' %}>Intake family</a>
            <a class="collapse-item" href={% url 'waiss:list_calib' %}>Calibration Constants</a>
            <a class="collapse-item" href={% url 'waiss:listbasin' %}>Irrigation System</a>
            <a class="collapse-item" href={% url 'waiss:list_fieldunit' %}>Field Units</a>
            <a class="collapse-item" href={% url 'waiss:list_sensor' %}>Sensors</a>
        </div>
      </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item">
      <a class="nav-link" href={% url 'waiss:about' %}><i class="fas fa-address-card"></i>
        <span class="text-gray-100">About Us</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'waiss:about_calc' %}><i class="fas fa-square-root-alt"></i>
      <span class="text-gray-100">About the Calculations</span></a>
    </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
    {% endblock %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

{% block topbar_block %}
        <!-- Topbar -->
        <nav class="navbar navbar-light navbar-expand bg-white topbar">
                <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
              <!-- Topbar Search -->
              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-info" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>

              <!-- Topbar Navbar -->
              <ul class="navbar-nav">
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                  <a class="nav-link dropdown-toggle" href="" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                  </a>
                  <!-- Dropdown - Messages -->
                  <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                      <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                  </a>
                  <!-- Dropdown - Alerts -->
                  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                      Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-success">
                          <i class="fas fa-donate text-white"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500">December 7, 2019</div>
                        $290.29 has been deposited into your account!
                      </div>
                    </a>

                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                  </div>
                </li>

                <!-- Nav Item - Messages -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'waiss:messages' %}" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                  </a>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Jay Ann Lomod</span>
                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Settings
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                      Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>
                  </div>
                </li>
              </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          {% endblock %}

          {% block main_block %}
          <form class="form-group" action="{% url 'waiss:index' %}" method="post">
            {% csrf_token %} 
              <div class="row">
                <div class="col-4 text-gray-800"><h5><b>{{farm_form.fieldunit|as_crispy_field }}</b></h5></div>
                <div class="col text-right text-info"><b><span id="date"></span>&nbsp;<span class="text-success">|</span>&nbsp;<span id="time"></span></b> &emsp; <i class="fas fa-calendar fa-2x"></i></div>
              </div>
            </form>
          <div class="row">
            <!-- Days after Planting Card -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Days after Planting</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <span>20</span>
                        <span>/ 80</span><span>&nbsp;<i>days</i></span>
                      </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-seedling fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <!-- Air Temperature -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Air Temperature</div>
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                            <span>32</span>&#8451;
                          </div>
                        </div>
                    <div class="col-auto">
                      <i class="fas fa-thermometer-half fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Relative Humidity Card -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Relative Humidity</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <span>72</span>&nbsp;%
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-humidity fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">
            <!-- Line Chart -->
            <div class="col-8">
              <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Moisture Content</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
            <!-- Irrigation Advisory -->
            <div class="col-3">
              <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Irrigation Advisory</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img src={% static "theme/water_on_plant.png" %} style="height: 100px;">
                    <p>
                    <span style="font-size: xx-large;">25%</span><span style="font-size: xx-large;">&nbsp;<i>MC<sub>v</sub></i></span>
                    <br>
                    <span style="font-size: x-large;"><i>Irrigate your crops!</i></span>
                    <br>
                    <span style="font-size: large;"><i>50 liters or 30 mins @ 1.0 lps</i></span>
                    <br>
                    <small><em>
                    Date Measured : 9/8/2020
                    <br>
                    Time Measured : 12:00 PM
                    <br>
                    Previous MC<sub>v</sub> : <span>26%</span></em></small>
                  </p>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-1">
                  <div class="text icon-bar rounded">
                    <section id="refreshStatus"><a id="refreshTooltip" class="d-block  bg-info rounded-circle" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" data-bs-hover-animate="pulse" href="#" onclick="updateData()" style="font-size: 20px;" title="Update Data Now"><i id="iconRefresh" class="fas fa-sync-alt" style="color:#f7f7f7;"></i></a></section>
                    <section id="powerStatus"><a id="powerTooltip" class="d-block bg-danger rounded-circle" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" data-bs-hover-animate="jello" href="#" onclick="powerButton()" style="font-size: 20px;"><i id="iconPower" class="fas fa-power-off" style="color: #f7f7f7;"></i></a></section>
                    <section id="unitStatus"><a id="statusTooltip" class="d-block bg-success rounded-circle" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" data-bs-hover-animate="tada" href="#" onclick="autosyncButton()" style="font-size: 20px;"  ><i id="iconStatus" class="fas fa-exchange-alt" style="color:#f7f7f7;"></i></a></section>
                    <section id="fanStatus"><a id="fanTooltip" class="d-block bg-warning rounded-circle" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" data-bs-hover-animate="wobble" href="#" onclick="fanButton()" style="font-size: 20px;" ><i id="iconFan" class="fas fa-fan" style="color:#f7f7f7;"></i></a></section>
                    <section id="battStatus"><a id="battTooltip" class="d-block bg-secondary rounded-circle" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" data-bs-hover-animate="rubberBand" href="#" onclick="battButton()" style="font-size: 20px;" ><i id="iconBatt" class="fas fa-battery-full" style="color:#f7f7f7;"></i></a></section>
                    <section id="addData" data-toggle="modal" data-target="#modalAddData"><a id="addDataTooltip" class="d-block bg-primary rounded-circle" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" data-bs-hover-animate="swing" href="#" style="font-size: 20px;" title="Add Data Manually"><i id="iconAddData" class="fas fa-pencil-alt" style="color:#f7f7f7;"></i></a></section>
                  </div>
              </div>
          </div>
{% endblock %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
{% block footer_block %}
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Project SARAi 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
{% endblock %}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href={% url 'waiss:login' %}>Logout</a>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    //tooltip
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })

    //collapse
    $('.dropdown-toggle').dropdown()
    
    //phone number mask
    $(document).ready(function (){
      $('#id_phone_number').usPhoneFormat({
        format: '(xxx) xxx-xxxx',
      });
    });
    //
    $('.collapse').collapse()
  </script>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% block bottom_script_block %}
{% endblock %}
    
</body>
</html>
