{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
    <div class="main-body">
        <form class="form-group" action="{% url 'waiss:intakefamily' %}" method="post">
            <h6><em>Input new Intake Family.</em></h6>
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    {{intakefamily_form.intakefamily|as_crispy_field}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  {{intakefamily_form.coeff_a|as_crispy_field}}
                </div>
                <div class="form-group col-md-4">
                  {{intakefamily_form.coeff_b|as_crispy_field}}
                </div>
                <div class="form-group col-md-4">
                  {{intakefamily_form.coeff_c|as_crispy_field}}
                </div>
            <div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  {{intakefamily_form.coeff_f|as_crispy_field}}
                </div>
                <div class="form-group col-md-6">
                  {{intakefamily_form.coeff_g|as_crispy_field}}
                </div>
            </div>
        </form>
    </div>
    <input type="submit" value="Save" class="btn btn-secondary btn-block">
        <br>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
        