{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" breadcrumb-item active" aria-current="page">Database</li>
        <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol>
</nav>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-left-info border-bottom-info" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="align-top">Setting Name</th>
                    <th class="align-top fit">Actions</th>
                    <th class="align-top fit">Field Unit</th>
                    <th class="align-top fit">Unique Security Key</th>
                    <th class="align-top">Power On</th>
                    <th class="align-top">With Irrigation</th>
                    <th class="align-top">Automatic Threshold</th>
                    <th class="align-top">Server Number</th>
                    <th class="align-top">Field Unit Number</th>
                    <th class="align-top">No. of Samples</th>
                    <th class="align-top">Sensor Integration Time</th>
                    <th class="align-top">Start Sending Time</th>
                    <th class="align-top">Stop Sending Time</th>
                    <th class="align-top">Sending Delay</th>
                    <th class="align-top">Clock Correction</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in settings_list %}
                <tr>  
                    <td class="align-middle fit">{{instance.name}}</td>
                    <td class="fit">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <a href={% url 'waiss:edit_settings' instance.id %} <button class="btn btn-info"> Edit</button></a>
                            <a href={% url 'waiss:delete_settings' instance.id %} <button class="btn btn-danger">Delete</button></a>
                        </div>
                    </td>
                    <td class="align-middle fit">{{instance.fieldunit}}</td>
                    <td class="align-middle fit">{{instance.usk}}</td>
                    <td class="align-middle fit">{{instance.fieldunitstatus}}</td>
                    <td class="align-middle fit">{{instance.withirrigation}}</td>
                    <td class="align-middle fit">{{instance.automaticthreshold}}</td>
                    <td class="align-middle fit">{{instance.servernumber}}</td>
                    <td class="align-middle fit">{{instance.fieldunitnumber}}</td>
                    <td class="align-middle fit">{{instance.numberofsamples}}</td>
                    <td class="align-middle fit">{{instance.sensorintegrationtime}}</td>
                    <td class="align-middle fit">{{instance.timestart}}</td>
                    <td class="align-middle fit">{{instance.timestop}}</td>
                    <td class="align-middle fit">{{instance.delay}}</td>
                    <td class="align-middle fit">{{instance.clockcorrection}}</td>
                </tr>
                {% endfor %}
            </tbody>
                    
        </table> 
    </div>
    <div class="float-right"> 
        <small><em>Add new field unit settings</em></small>&nbsp;
        <a href={% url 'waiss:add_settings' %}><img src={% static "theme/add_settings.png" %} style="height: 50px;" alt="Card image cap"></a>
    </div> 
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    