{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}
{% block main_block %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" breadcrumb-item active" aria-current="page">Database</li>
        <li class="breadcrumb-item active" aria-current="page">Personnel</li>
    </ol>
</nav>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-left-info" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th class="align-top  fit">Last Name</th>
                <th class="align-top  fit">First Name</th>
                <th class="align-top  fit">Actions</th>
                <th class="align-top  fit">Mobile Number</th>
            </tr>
        </thead>
            {% for instance in personnel_list %}
        <tbody>
            <tr>  
                <td class="align-middle fit">{{instance.last_name}}</td>
                <td class="align-middle fit">{{instance.first_name}}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href={% url 'waiss:edit_personnel' instance.id %} <button class="btn btn-info"> Edit</button></a>
                        <a href={% url 'waiss:delete_personnel' instance.id %} <button class="btn btn-danger">Delete</button></a>
                    </div>
                </td>
                <td class="align-middle fit">{{instance.phone_number}}</td>
            </tr>
        </tbody>
            {% endfor %}
    </table>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    