{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} WAISS: MCvs {% endblock %}

{% block time_block %}
{% endblock %}

{% block main_block %}
<h6 class="text-left"><kbd class="bg-gradient-info">Moisture Content Readings (Raw)</kbd>
  <button class="btn show-form" data-url="{% url 'waiss:add_mc' %}">
  <img src={% static "theme/add.png" %} style="height: 30px;" alt="add button" data-toggle="tooltip" data-placement="right" title="add new data">
  </button>
</h6>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-bottom-secondary mc-table" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr class="text-center">
              <th class="align-top">#</th>
              <th class="align-top">Sensor</th>
              <th class="align-top ">Reading</th>
              <th class="align-top ">Date</th>
              <th class="align-top ">Time</th>
              <th class="align-top">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% include "waissapp/list_mc_2.html" %}
        </tbody>
    </table>
    <!-- Create/Update Modal -->
    <div class="modal fade" id="modal-mc">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</div>
{% endblock %}
