{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<h5 class="text-left">Farm Managers</h5>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-bottom-secondary" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr class="text-center">
                <th class=""></th>
                <th class="">Last Name</th>
                <th class="">First Name</th>
                <th class="">Mobile Number</th>
            </tr>
        </thead>
            
        <tbody>
            {% for instance in personnel_list %}
            <tr class="text-center">
                <td class="min">
                    <a href={% url 'waiss:delete_personnel' instance.id %}><img class="rounded"  src={% static "theme/delete_icon.png" %} style="height: 20px;" alt="delete button" data-toggle="tooltip" data-placement="right" title="delete data"></a>
                </td> 
                <td class=""><a href={% url 'waiss:edit_personnel' instance.id %}>{{instance.last_name}}</a></td>
                <td class="">{{instance.first_name}}</td>
                <td class="">0{{instance.number}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <small><em>Add new farm manager here.</em></small><a href={% url 'waiss:add_personnel' %}><img src={% static "theme/add.png" %} style="height: 30px;" alt="add button" data-toggle="tooltip" data-placement="right" title="add new data"></a>
</div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    