{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<style>
    table {
        width: 90%;
        text-align: center;
        margin-bottom: 10px;
        border-bottom: 2px solid #ddd;
        margin-left: auto;
        margin-right: auto;
    }
    th{
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        padding: 5px;
        background-color: rgb(240, 242, 245);
    }
    td {
        border-bottom: 1px solid #ddd;
    }
</style>

<div class="main-body">
    <div class="form-group">
            <br>
            <h6><em>Basin Irrigation Systems</em></h6>
            <table>
                <thead>
                    <tr>
                        <th>System Name</th>
                        <th>Basin Length (m)</th>
                        <th>Unit Discharge (lps)</th>
                        <th>Application Efficiency (%)</th>
                        <th>Efficiency-Advance Ratio (R)</th>
                    </tr>
                </thead>
                {% for instance in basin_list %}
                <tbody>
                    <tr> 
                        <td>{{instance.basin_name}}</td>
                        <td>{{instance.basin_length}}</td>
                        <td>{{instance.discharge}}</td>
                        <td>{{instance.ea}}</td>
                        <td>{{instance.eff_adv_ratio}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    