{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} WAISS: Systems {% endblock %}
{% block main_block %}
<h6 class="text-left"><kbd class="bg-gradient-info">WAISS</kbd>
  <button class="btn show-form" data-url="{% url 'waiss:add_system' %}">
  <img src={% static "theme/add.png" %} style="height: 30px;" alt="add button" data-toggle="tooltip" data-placement="right" title="add new data">
  </button>
  <a href={%url 'waiss:new_farm' %}>Guided</a>
</h6>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-bottom-secondary system-table" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr class="text-center">
              <th class="align-top">#</th>
                <th class="align-top">Name</th>
                <th class="align-top">Farm</th>
                <th class="align-top">Farm Manager</th>
                <th class="align-top">Crop</th>
                <th class="align-top">Date Transplanted</th>
                <th class="align-top">Soil</th>
                <th class="align-top">Field Unit</th>
                <th class="align-top">Calibration Equation</th>
                <th class="align-top">Basin</th>
                <th class="align-top">Border</th>
                <th class="align-top">Furrow</th>
                <th class="align-top">Sprinkler</th>
                <th class="align-top">Drip</th>
                <th class="align-top">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% include "waissapp/list_system_2.html" %}
        </tbody>
    </table>
    <!-- Create/Update Modal -->
    <div class="modal fade" id="modal-system">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</div>
{% endblock %}