{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<h5 class="text-left">Drip Irrigation Systems</h5>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-bottom-secondary" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
              <th class="align-top"></th>
              <th class="align-top">Name</th>
              <th class="align-top ">Unit Discharge (l/day)</th>
              <th class="align-top">Single Lateral?</th>
              <th class="align-top">Emitters per Plant</th>
              <th class="align-top">Emitter Spacing (m)</th>
              <th class="align-top">Plant Spacing (m)</th>
              <th class="align-top">Row Spacing (m)</th>
              <th class="align-top">Wetted Diameter (m)</th>
              <th class="align-top ">EU</th>
              <th class="align-top ">Has preferred irrigation interval?</th>
              <th class="align-top">Irrigation Interval (days)</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in list %}
            <tr> 
              <td class="min">
                <a data-toggle="modal" href="{{ instance.id }}/delete" data-target="#exampleModalCenter-{{ instance.id }}"><img class="rounded" src={% static "theme/delete_icon.png" %} style="height: 20px;"></a>
              </td>
              <td class="align-middle min"><a href={% url 'waiss:edit_drip' instance.id %}>{{instance.name}}</a></td>
              <td class="align-middle ">{{instance.discharge}}</td>
              <td class="align-middle ">{{instance.bln_single_lateral}}</td>
              <td class="align-middle ">{{instance.emitters_per_plant}}</td>
              <td class="align-middle ">{{instance.emitter_spacing}}</td>
              <td class="align-middle ">{{instance.plant_spacing}}</td>
              <td class="align-middle ">{{instance.row_spacing}}</td>
              <td class="align-middle ">{{instance.wetted_dia}}</td>
              <td class="align-middle ">{{instance.EU}}</td>
              <td class="align-middle ">{{instance.bln_ii}}</td>
              <td class="align-middle ">{{instance.irrigation_interval}}</td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter-{{ instance.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Drip</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <small><em>Are you sure you want to delete drip <b>"{{instance.name}}"</b>?<br>
                      Deleting <b>"{{instance.name}}"</b> will also delete the systems where it is used.</em></small>
                  </div>
                  <div class="modal-footer">
                      <form class="form-group" action="" method="post">
                          {% csrf_token %}
                          <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Cancel</button>
                          <button type="submit" class="btn btn-danger" name="id" value="{{instance.id}}">Confirm</button>
                      </form>
                  </div>
                </div>
              </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
  <small><em>Add new irrigation system here.</em></small>&nbsp;<a href={% url 'waiss:add_drip' %}><img src={% static "theme/add.png" %} style="height: 30px;" alt="add button" data-toggle="tooltip" data-placement="right" title="add new data"></a>
</div>
{% endblock %}

{% block bottom_script_block %}
<script type="text/javascript">
  $('#exampleModalCenter-{{ instance.id }}').modal(options)
</script>
{% endblock %}
    