{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<br>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiss:listbasin' %}">Basin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'waiss:listborder' %}">Border</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiss:listfurrow' %}">Furrow</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'waiss:listsprinkler' %}">Sprinkler</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'waiss:listdrip' %}">Drip</a>
    </li>
</ul>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-left-info border-bottom-info" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th class="align-top">System Name</th>
                <th class="align-top fit">Actions</th>
                <th class="align-top">No. of Borders</th>
                <th class="align-top">Border Width</th>
                <th class="align-top">Unit Discharge (lps)</th>
                <th class="align-top">Discharge per Border Strip (lps)</th>
                <th class="align-top">Total Discharge (lps)</th>
                <th class="align-top">Manning's Coefficient</th>
                <th class="align-top">Slope (m/m)</th>
                <th class="align-top">Application Efficiency (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in border_list %}
            <tr>  
                <td class="align-middle fit">{{instance.name}}</td>
                <td class="fit">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href={% url 'waiss:edit_border' instance.id %} <button class="btn btn-info"> Edit</button></a>
                        <a href={% url 'waiss:delete_irrigation' instance.id %} <button class="btn btn-danger">Delete</button></a>
                    </div>
                </td>
                <td class="align-middle fit">{{instance.border_strips}}</td>
                <td class="align-middle fit">{{instance.border_width}}</td>
                <td class="align-middle fit">{{instance.discharge}}</td>
                <td class="align-middle fit">{{instance.flow_rate_per_strip}}</td>
                <td class="align-middle fit">{{instance.total_flow_rate}}</td>
                <td class="align-middle fit">{{instance.mannings_coeff}}</td>
                <td class="align-middle fit">{{instance.area_slope}}</td>
                <td class="align-middle fit">{{instance.ea}}</td>
            </tr>
            {% endfor %}
        </tbody>
                
    </table>
</div>
<div>
    <a href={% url 'waiss:add_border' %}><i class='far fa-edit'></i></a>&nbsp;<small><em>Add new border irrigation system data here</em></small>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    