{% load static %}
{% for calib in calibs %}
<tr class="text-center">
  <td class="align-middle ">{{forloop.counter}}</td>
  <td class="align-middle ">{{calib.name}}</td>
  <td class="align-middle ">{{calib.calib_equation}}</td>
  <td class="align-middle ">{{calib.coeff_a}}</td>
  <td class="align-middle ">{{calib.coeff_b}}</td>
  <td class="align-middle ">{{calib.coeff_c|default_if_none:"-"}}</td>
  <td class="align-middle ">{{calib.coeff_d|default_if_none:"-"}}</td>
  <td class="align-middle ">{{calib.coeff_m|default_if_none:"-"}}</td>
  <td class="align-middle ">{{calib.date_tested|default_if_none:"-"}}</td>
  <td class="align-middle ">{{calib.tested_by|default_if_none:"-"}}</td>
  <td class="min">
    <button class="btn show-form-update text-info btn-sm" data-url="{% url 'waiss:edit_calib' calib.id %}"><i class="fas fa-edit"></i></button>
    <button class="btn text-danger btn-sm" data-toggle="modal" data-target="#deleteModal-{{ calib.id }}"><i class="fas fa-trash"></i></button>
  </td>
</tr>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal-{{ calib.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete calib</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <small><em>Are you sure you want to delete calib <b>"{{calib.name}}"</b>?<br>
          Deleting <b>"{{calib.name}}"</b> will also delete the systems where it is used.</em></small>
      </div>
      <div class="modal-footer">
          <form class="form-group" action="" method="post">
              {% csrf_token %}
              <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Cancel</button>
              <button type="submit" class="btn btn-danger" name="deleteModal" value="{{calib.id}}">Confirm</button>
          </form>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
{% endfor %}