{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<div class="container-fluid size90">
    <div class="heading"><h5>Sensors Database</h5></div>
    <table class="table table-condensed table-hover table-responsive "> 
        <thead>
            <tr>
                <th class="align-top fit">Sensor</th>
                <th class="align-top fit">Field Unit Name</th>
                <th class="align-top fit">Depth</th>
                <th class="align-top fit">Actions</th>
            </tr>
        </thead>
                {% for instance in sensor_list %}
        <tbody>
            <tr> 
                <td class="align-middle fit">{{instance.name}}</td>
                <td class="align-middle fit">{{instance.fieldunit}}</td>
                <td class="align-middle fit">{{instance.depth}}</td>
                <td class="fit">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href={% url 'waiss:edit_sensor' instance.id %} <button class="btn btn-info"> Edit</button></a>
                        <a href={% url 'waiss:delete_sensor' instance.id %} <button class="btn btn-danger">Delete</button></a>
                    </div>
                </td>
            </tr>
        </tbody>
                {% endfor %}
    </table>
    <h6><em>Add new sensor here. <a href={% url 'waiss:add_sensor' %}><i class='far fa-edit'></i></a></em></h6>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    