{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %} WAISS: Farms {% endblock %}

{% block main_block %}
<h6 class="text-left"><kbd class="bg-gradient-info">Farms</kbd>
  <button class="btn show-form" data-url="{% url 'waiss:add_farm' %}">
  <img src={% static "theme/add.png" %} style="height: 30px;" alt="add button" data-toggle="tooltip" data-placement="right" title="add new data">
  </button>
</h6>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-bottom-secondary farm-table" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr class="text-center">
                <th class="align-top">#</th>
                <th class="align-top">Farm Name</th>
                <th class="align-top">Barangay</th>
                <th class="align-top">Municipality</th>
                <th class="align-top">Province</th>
                <th class="align-top">Latitude</th>
                <th class="align-top">Longitude</th>
                <th class="align-top">Actions</th>
            </tr>
        </thead>
        <tbody>
          {% include "waissapp/list_farm_2.html" %}
        </tbody>
    </table>
    <!-- Create/Update Modal -->
    <div class="modal fade" id="modal-farm">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</div>
{% endblock %}