{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<h5 class="text-left">Irrigation Systems</h5>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-bottom-secondary" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
              <th class="align-top"></th>
              <th class="align-top">System Name</th>
              <th class="align-top ">Type</th>
              <th class="align-top ">Unit Discharge (lps)</th>
              <th class="align-top ">Application Efficiency (%)</th>
              <th class="align-top ">Basin Length (m)</th>
              <th class="align-top">No. of Borders</th>
              <th class="align-top">Border Width</th>
              <th class="align-top">Discharge per Border Strip (lps)</th>
              <th class="align-top">Total Discharge (lps)</th>
              <th class="align-top">Manning's Coefficient</th>
              <th class="align-top">Open-Ended System</th>
              <th class="align-top">Slope (m/m)</th>
              <th class="align-top">Farm Area (m<sup>2</sup>)</th>
              <th class="align-top">Irrigated Area at a Time (m<sup>2</sup>)</th>
              <th class="align-top">No. of Sprinklers</th>
              <th class="align-top">Sprinkler Spacing (m)</th>
              <th class="align-top">Lateral Spacing (m)</th>
              <th class="align-top">Single Lateral</th>
              <th class="align-top">Emitters per Plant</th>
              <th class="align-top">Emitter Spacing (m)</th>
              <th class="align-top">Plant Spacing (m)</th>
              <th class="align-top">Row Spacing (m)</th>
              <th class="align-top">Wetted Diameter (m)</th>
              <th class="align-top ">EU</th>
              <th class="align-top">Irrigation Interval (days)</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in basin_list %}
            <tr> 
              <td class="min">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href={% url 'waiss:edit_irrigation' instance.id %}><img class="rounded" src={% static "theme/edit_icon.png" %} style="height: 20px;" alt="edit button" data-toggle="tooltip" data-placement="left" title="edit data"></a>
                    &nbsp;
                    <a href={% url 'waiss:delete_irrigation' instance.id %}><img class="rounded"  src={% static "theme/delete_icon.png" %} style="height: 20px;" alt="delete button" data-toggle="tooltip" data-placement="right" title="delete data"></a>
                    &nbsp;
                </div>
              </td><td class="align-middle min">{{instance.name}}</td>
            </td><td class="align-middle min">{{instance.irrigation_system_type}}</td>
              <td class="align-middle ">{{instance.discharge|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.ea|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.basin_length|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.border_strips|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.border_width|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.flow_rate_per_strip|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.total_flow_rate|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.mannings_coeff|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.area_slope|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.farm_area|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.area_irrigated_at_a_time|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.num_of_sprinklers|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.sprinkler_spacing|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.lateral_spacing|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.sprinkler_discharge|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.bln_single_lateral|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.emitters_per_plant|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.emitter_spacing|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.plant_spacing|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.row_spacing|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.wetted_dia|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.EU|default_if_none:"-"}}</td>
              <td class="align-middle ">{{instance.irrigation_interval|default_if_none:"-"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
  <small><em>Add new irrigation system here.</em></small>&nbsp;<a href={% url 'waiss:add_irrigation' %}><img src={% static "theme/add.png" %} style="height: 30px;" alt="add button" data-toggle="tooltip" data-placement="right" title="add new data"></a>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    