{% load static %}
{% for shaded in shadeds %}
<tr class="text-center"> 
    <td class="align-middle">{{forloop.counter}}</td>
    <td class="align-middle">{{shaded.date}}</td>
    <td class="align-middle">{{shaded.fieldunit}}</td> 
    <td class="align-middle">{{shaded.area_shaded}}</td>
    <td class="min">
      <button class="btn show-form-update text-info btn-sm" data-url="{% url 'waiss:edit_shaded' shaded.id %}"><i class="fas fa-edit"></i></button>
      <button class="btn text-danger btn-sm" data-toggle="modal" data-target="#deleteModal-{{ shaded.id }}"><i class="fas fa-trash"></i></button>
    </td>
  </tr>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal-{{ shaded.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete shaded</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <small><em>Are you sure you want to delete shaded <b>"{{shaded.area_shaded}}"</b>?<br>
            Deleting <b>"{{shaded.area_shaded}}"</b> will also delete the systems where it is used.</em></small>
        </div>
        <div class="modal-footer">
            <form class="form-group" action="" method="post">
                {% csrf_token %}
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="submit" class="btn btn-danger" name="deleteModal" value="{{shaded.id}}">Confirm</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}