{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<h5 class="text-left">Farms</h5>
<div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover border-bottom-secondary" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr class="text-center">
                <th class="align-top"></th>
                <th class="align-top">Farm Name</th>
                <th class="align-top">Location</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in farm_list %}
            <tr class="text-center">
                <td class="min">
                    <a href={% url 'waiss:delete_farm' instance.id %}><img class="rounded"  src={% static "theme/delete_icon.png" %} style="height: 20px;" alt="delete button" data-toggle="tooltip" data-placement="right" title="delete data"></a>
                </td>
                <td class="align-middle"><a href={% url 'waiss:edit_farm' instance.id %}>{{instance.name}}</a></td>              
                <td class="align-middle">{{instance.brgy|default_if_none:"-"}}, {{instance.municipality|default_if_none:"-"}}, {{instance.province|default_if_none:"-"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<small><em>Add new farm data here.</em></small>&nbsp;<a href={% url 'waiss:add_farm' %}><img src={% static "theme/add.png" %} style="height: 30px;" alt="add button" data-toggle="tooltip" data-placement="right" title="add new data"></a>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
