{% load static %}
{% for sensor in sensors %}
<tr class="text-center">
    <td class="align-middle ">{{forloop.counter}}</td>
    <td class="align-middle ">{{sensor.name}}</td>
    <td class="align-middle min">{{sensor.fieldunit}}</td>
    <td class="align-middle ">{{sensor.depth}}</td>
    <td><a href={% url 'waiss:list_mc' sensor.name %}>Show</a></td>
    <td class="min">
      <button class="btn show-form-update text-info btn-sm" data-url="{% url 'waiss:edit_sensor' sensor.id %}"><i class="fas fa-edit"></i></button>
      <button class="btn text-danger btn-sm" data-toggle="modal" data-target="#deleteModal-{{ sensor.id }}"><i class="fas fa-trash"></i></button>
    </td>
</tr>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal-{{ sensor.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete sensor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <small><em>Are you sure you want to delete sensor <b>"{{sensor.name}}"</b>?<br>
          Deleting <b>"{{sensor.name}}"</b> will also delete the systems where it is used.</em></small>
      </div>
      <div class="modal-footer">
          <form class="form-group" action="" method="post">
              {% csrf_token %}
              <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Cancel</button>
              <button type="submit" class="btn btn-danger" name="deleteModal" value="{{sensor.id}}">Confirm</button>
          </form>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
{% endfor %}