{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_block %}
  <title>Welcome!</title>
{% endblock %}

{% block top_script_block %}
{% endblock %}

{% block dashboard_block %}
<body class="bg-gradient-info">

  <div class="container">
{% endblock %}

{% block main_block %}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block">
          <img src={% static "theme/add_soil.png" %}>
        </div>
        <div class="col-lg-7">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">6/8: Soil & Characteristics</h1>
                <div>
                <div>
                    <form class="form-group" action="{% url 'waiss:new_soil' %}" method="post">
                        <br>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">{{soil_form.soiltype|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{soil_form.fc|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{soil_form.pwp|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{soil_form.As|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ soil_form.source|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ soil_form.errors }}</div>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_block %}
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
