{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
          <div class="progress_bar">
              <div class="pro-bar">
                  <small class="progress_bar_title">
                    Farm | Personnel | Crop | Soil | Calibration | Irrigation |<span style="color: #1abc9c; font-size: large;"><b> Field Unit</b></span>
                    <span class="progress_number">70%</span>
                  </small>
                  <span class="progress-bar-inner" style="background-color: #1abc9c; width: 70%;" data-value="70" data-percentage-value="70"></span>
              </div>
          </div>
            <div class="card">
              <div class="card-header">
                  <small><i>Field Unit & Initial Settings</i></small>
              </div>
                        <div class="card-body">
                            <form class="form-group" action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.name|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.usk|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.number|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.samples|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.sensorintegrationtime|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.timestart|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.timestop|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.delay|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.clockcorrection|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.errors}}</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-success"><a href={% url 'waiss:new_irrigation' %} style="color:white">Previous</a></button>
                            <input type="submit" value="Submit" class="btn btn-info">
                            <button type="button" class="btn btn-success"><a href={% url 'waiss:new_sensor' %} style="color:white">Next</a></button>
                        </div>
                    </form>
                </div>
{% endblock %}