{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}



{% block form_block %}
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                      Farm | Personnel | Crop | Soil | Calibration | Irrigation | Field Unit | Sensor | System | <span style="color: #1abc9c; font-size: large;"><b>Soil MC Readings</b></span>
                      <span class="progress_number">100%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color: #1abc9c; width: 100%;" data-value="100" data-percentage-value="100"></span>
                </div>
            </div>
            <form class="form-group" action="" method="POST">
              <div class="card">
                <div class="card-header">
                    <i><small>Fillout atleast one initial reading for each sensors. More data can be added in the dashboard.</small></i>
                </div>
                <div class="card-body">
                    {% csrf_token %} 
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="row">
                      {{form.sensor|as_crispy_field}}
                      {{form.timestamp|as_crispy_field}}
                      <script>
                        $(function () {
                          $("#id_timestamp").datetimepicker({
                            format: 'd/m/Y H:i',
                          });
                        });
                      </script>
                      {{form.mc_data|as_crispy_field}}
                    </div>
                    {% endfor%}
                </div>
              </div>
              <br>
                <div class="text-center">
                  <button type="button" class="btn btn-success"><a  href={% url 'waiss:new_system' %} style="color:white">Previous</a></button>
                  <input type="submit" value="Submit" class="btn btn-info">
                </div>
            </form>
          </div>
{% endblock %}
