{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_block %}
  <title>Welcome!</title>
{% endblock %}

{% block top_script_block %}
{% endblock %}

{% block dashboard_block %}
<body class="page-top bg-info"><br>
{% endblock %}

{% block main_block %}
<div class="bg-white container col-lg-10 rounded">
    
    <div class="col">
        
        <div class="p-5">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'waiss:new_personnel' %}>Personnel</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'waiss:new_crop' %}>Crop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'waiss:new_soil' %}>Soil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href={% url 'waiss:new_soil' %}>Irrigation</a>
                </li>
            </ul>
            <br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 11.11%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-success" role="progressbar" style="width: 11.11%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-info" role="progressbar" style="width: 11.11%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-warning" role="progressbar" style="width: 11.11%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"> Sprinkler Irrigation System & Specifications</h1>
            <div>
            <div>
                <div class="card col-11 mx-auto">
                    <div class="card-body">
                        <form class="form-group" action="{% url 'waiss:new_sprinkler' %}" method="post">
                            {% csrf_token %}
                    
                            <div class="row">
                                <div class="col">{{ irrigation_form.name_sprinkler|as_crispy_field }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ irrigation_form.farm_area|as_crispy_field }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ irrigation_form.area_irrigated_at_a_time|as_crispy_field }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ irrigation_form.lateral_spacing|as_crispy_field }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ irrigation_form.sprinkler_spacing|as_crispy_field }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ irrigation_form.num_of_sprinklers|as_crispy_field }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ irrigation_form.discharge|as_crispy_field }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ irrigation_form.ea|as_crispy_field }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ irrigation_form.errors }}</div>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bottom_script_block %}
{% endblock %}
