{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
  <div class="pro-bar">
      <small class="progress_bar_title">
          <span style="color: #1abc9c; font-size: large;"><b>Farm</b></span>
          <span class="progress_number">11%</span>
      </small>
      <span class="progress-bar-inner" style="background-color: #1abc9c; width: 11%;" data-value="11" data-percentage-value="11"></span>
  </div>
</div>

<div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="card-header rounded-0 border-0"><small>Farm Name & Location</small></div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          {% if farm_list %}
          <form method="post" class="form-group">
            {% csrf_token %}
            <small>Existing Farms</small>
            <select class="form-control" id="selected_farm" name="selected_farm">
              <option value="{{selected_farm}}">{{selected_farm_text}}</option>
              {% for farm in farm_list %}
              <option value="{{farm.name}}">{{farm.name}}</option>
              {% endfor %}
            </select>
            <small class="text-danger float-right"><i>{{error_msg}}</i></small><hr>
            <p class="text-right">
              <input class="btn btn-info btn-sm" type="submit" value="Load Database" name="loadData"></input>
            </p>
          </form>
        {% endif %}
        </div>
        <div class="col">
          <form method="post" class="from-group">
            {% csrf_token %}
            <small><b>Fields with asterisks (*) are required. Press next if you will use data from database.</b></small><hr>
            {{ farm_form.name|as_crispy_field }}
            {{ farm_form.brgy|as_crispy_field }}
            {{ farm_form.municipality|as_crispy_field }}
            {{ farm_form.province|as_crispy_field }}
            {{farm_form.select_coordinates|as_crispy_field}}
            <div class="collapse" id="collapseOne">
              {{farm_form.lat|as_crispy_field}}
              {{farm_form.long|as_crispy_field}}
            </div>
            <div class="text-right">
              <input type="submit" value="Submit" class="btn btn-info" name="btn_submit">
              <button type="button" class="btn btn-success"><a href={% url 'waiss:new_personnel' %} style="color:white">Next</a></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $( document ).ready(function() {
    showHide();
      $("#id_select_coordinates").change(function () {
        showHide();
      });
    });
    function showHide() {
      var checkedValue = $("#id_select_coordinates").val();
      if (checkedValue == "yes") {
        $("#collapseOne").collapse('show');
        $("#id_lat").prop('required',true);
        $("#id_long").prop('required',true);

      } else if (checkedValue == "no") {
        $("#collapseOne").collapse('hide');
        $("#id_lat").prop('required',false);
        $("#id_long").prop('required',false);
      }
    };
</script>
{% endblock %}
    