{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
    <div class="pro-bar">
        <small class="progress_bar_title">
            <a href={% url 'waiss:new_farm' %} style="color: #858796">Farm</a> | <a href={% url 'waiss:new_personnel' %} style="color:#858796">Personnel</a> | <a href={% url 'waiss:new_crop' %} style="color:#858796">Crop</a> | <a href={% url 'waiss:new_soil' %} style="color:#858796">Soil</a> | <a href={% url 'waiss:new_calib' %} style="color:#858796">Calibration</a> | <a href={% url 'waiss:new_irrigation' %} style="color: #858796">Irrigation</a> | <a href={% url 'waiss:new_fieldunit' %} style="color:#858796">Field Unit</a> | <span style="color: #1abc9c; font-size: large;"><b>Sensor</b></span>| <a href={% url 'waiss:new_system' %} style="color:#858796">System</a>
          <span class="progress_number">88%</span>
        </small>
        <span class="progress-bar-inner" style="background-color: #1abc9c; width: 88%;" data-value="88" data-percentage-value="88"></span>
    </div>
</div>
<div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="card-header rounded-0 border-0"><small>Sensor & Depth</small></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        <form  class="form-group" action="" method="POST">
          <small><b>Fields with asterisks (*) are required.</b></small>
          <hr>
          {{formset.management_form}}
          {% csrf_token %} 
          {% for form in formset %}
          <div class="row">
              <div class="col-md-1 d-flex align-items-center mt-3">
                  <div class="btn btn-sm btn-outline-info"><b>#{{forloop.counter}}</b></div>
              </div>
              <div class="hidden">{{form.id|as_crispy_field}}</div>
              <div class="col-md small">{{form.fieldunit|as_crispy_field}}</div>
              <div class="col-md small">{{form.name|as_crispy_field}}</div> 
              <div class="col-md-2 small">{{form.depth|as_crispy_field}}</div>
          </div>
          {% endfor%}
          <hr>
          <div class="text-center">
            <input type="submit" value="Next" class="btn btn-info" name="btn_submit">
          </div>
        </form>
      </div>
      {% if excess == True %}
      <div class="col-md-4">
        <small><b>Error!</b></small><hr>
        <small>
          <span class="text-danger"><i>It seems that you are exceeding the maximum of three (3) sensors per field unit. Please delete the excess sensor(s).</i></span>
        </small>
        <div class="card shadow mb-4">
          <div class="card-body">
            <table class="table table-hover border-bottom-secondary sensor-table" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr class="text-center">
                    <th class="align-top">#</th>
                    <th class="align-top ">Sensor</th>
                    <th class="align-top ">Depth (m)</th>
                    <th class="align-top ">Delete</th>
                  </tr>
              </thead>
              {% for sensor in sensors_list %}
              <tr class="text-center">
                <td class="align-middle ">{{forloop.counter}}</td>
                <td class="align-middle ">{{sensor.name}}</td>
                <td class="align-middle ">{{sensor.depth}}</td>
                <td class="align-middle ">
                  <form class="form-group" action="" method="POST">
                    {% csrf_token %}
                    <button class="btn text-danger btn-sm d-flex align-items-center mt-3" name="delete_sensor" value={{sensor.id}}><i class="fas fa-trash"></i></button></td>
                  </form>
                </tr>
                {% endfor%}
            </table>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}
