{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
  <div class="pro-bar">
      <small class="progress_bar_title">
          Farm | <span style="color: #1abc9c; font-size: large;"><b>Personnel</b></span>
          <span class="progress_number">20%</span>
      </small>
      <span class="progress-bar-inner" style="background-color: #1abc9c; width: 20%;" data-value="20" data-percentage-value="20"></span>
  </div>
</div>
<form class="form-group" action="" method="post">
{% csrf_token %} 
<div class="card">
    <div class="card-header"><small><i>Name & Mobile Number to whom advisories are sent</i></small></div>
    <div class="card-body">
      
      <div class="row">
          <div class="col">{{personnel_form.first_name|as_crispy_field}}</div>
      </div>
      <div class="row">
          <div class="col">{{personnel_form.last_name|as_crispy_field}}</div>
      </div>
      <div class="row">
          <div class="col">{{personnel_form.number|as_crispy_field}}</div>
      </div>
    </div>
</div>
<br>
<div class="text-center">
  <button type="button" class="btn btn-success"><a href={% url 'waiss:new_farm' %} style="color:white">Previous</a></button>
  <input type="submit" value="Submit" class="btn btn-info">
  <button type="button" class="btn btn-success"><a href={% url 'waiss:new_crop' %} style="color:white">Next</a></button>
</div>
</form>
{% endblock %}