{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
  <div class="pro-bar">
      <small class="progress_bar_title">
        <a href={% url 'waiss:new_farm' %} style="color:#858796">Farm</a> | <a href={% url 'waiss:new_personnel' %} style="color:#858796">Personnel</a> | <a href={% url 'waiss:new_crop' %} style="color:#858796">Crop</a> | <a href={% url 'waiss:new_soil' %} style="color:#858796">Soil</a> | <a href={% url 'waiss:new_calib' %} style="color:#858796">Calibration</a> |<span style="color: #1abc9c; font-size: large;"><b> Irrigation</b></span> | <a href={% url 'waiss:new_fieldunit' %} style="color:#858796">Field Unit</a> | <a href={% url 'waiss:new_sensor' %} style="color:#858796">Sensor</a> | <a href={% url 'waiss:new_system' %} style="color:#858796">System</a>
        <span class="progress_number">66%</span>
      </small>
      <span class="progress-bar-inner" style="background-color: #1abc9c; width: 66%;" data-value="66" data-percentage-value="66"></span>
  </div>
</div>

<div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="card-header rounded-0 border-0"><small>Irrigation System</small></div>
  <div class="card-body">
    <div class="row">
      {% if select_ses == None %}
      <div class="col-md">
        <form class="form-group"><!--Do you have an irrigation system?-->
          <label class="small">Do you have an irrigation system?</label>
          <select class="form-control" id="id_bln_irrigation" name="bln_irrigation">
              <option value={{bln_irrigation}}>{{bln_irrigation_text}}</option>
              <option value="" selected>---------</option>
              <option value="True">Yes, I do!</option>
              <option value="False">No, I don't!</option>
          </select>
        </form>
      </div>
      {% elif select_ses == 'basin' %}
      <div class="col-md">
        <form class="form-group">
          {% csrf_token %}
          {{basin.bln_irrigation|as_crispy_field}}
        </form>
      </div>
      {% elif select_ses == 'border' %}
      <div class="col-md">
        <form class="form-group">
          {{border.bln_irrigation|as_crispy_field}}
        </form>
      </div>
      {% elif select_ses == 'furrow' %}
      <div class="col-md">
        <form class="form-group">
          {{furrow.bln_irrigation|as_crispy_field}}
        </form>
      </div>
      {% elif select_ses == 'sprinkler' %}
      <div class="col-md">
        <form class="form-group">
          {{sprinkler.bln_irrigation|as_crispy_field}}
        </form>
      </div>
      {% elif select_ses == 'drip' %}
      <div class="col-md">
        <form class="form-group">
          {{drip.bln_irrigation|as_crispy_field}}
        </form>
      </div>
      {% endif %}
    </div><!--Do you have an irrigation system?-->
    <div class="row collapse" id="collapse_irrig_One"><!--With No irrigation system-->
      <div class="col-md">
        <hr>
        <div class="text-center">
          <a class="btn btn-info" href={% url 'waiss:new_fieldunit' %}>Next</a>
        </div>
      </div>
    </div><!--With No irrigation system-->
    <div class="row collapse" id="collapse_irrig_Two"><!--With irrigation system-->
      {% if select_ses == None %}
      <div class="col-md">
        <form class="form-group">
          <label class="small">What kind of irrigation system?&emsp;</label>
          <select class="form-control" id="id_select_irrigation" name="select_irrigation">
              <option value={{select_irrigation}}>{{select_irrigation}}</option>
              <option value="" selected>---------</option>
              <option value="basin">basin</option>
              <option value="border">border</option>
              <option value="furrow">furrow</option>
              <option value="sprinkler">sprinkler</option>
              <option value="drip">drip</option>
          </select>
        </form>
      </div>
      {% elif select_ses == 'basin' %}
      <div class="col-md">
        <form class="form-group">
          {{basin.select_irrigation|as_crispy_field}}
        </form>
      </div>
      {% elif select_ses == 'border' %}
      <div class="col-md">
        <form class="form-group">
          {{border.select_irrigation|as_crispy_field}}
        </form>
      </div>
      {% elif select_ses == 'furrow' %}
      <div class="col-md">
        <form class="form-group">
          {{furrow.select_irrigation|as_crispy_field}}
        </form>
      </div>
      {% elif select_ses == 'sprinkler' %}
      <div class="col-md">
        <form class="form-group">
          {{sprinkler.select_irrigation|as_crispy_field}}
        </form>
      </div>
      {% elif select_ses == 'drip' %}
      <div class="col-md">
        <form class="form-group">
          {{drip.select_irrigation|as_crispy_field}}
        </form>
      </div>
      {% endif %}
    </div><!--With irrigation system-->
    <div class="row collapse" id="collapse_irrig_1"><!--Basin Row Collapse-->
      
      <div class="col-md-4"><!--Picture Guide--></div>

      <div class="col-md">
        {% if basin_list %}
        <div class="row bg-light">
          <div class="col-md">
            <form method="post" class="form-group col-md">
              {% csrf_token %}
              <small><b>Load existing basin irrigation systems.</b></small>
              <select class="form-control" id="selected_basin" name="loadData_basin" onchange="this.form.submit()">
                <option value="{{selected_basin}}">{{selected_basin_text}}</option>
                {% for basin in basin_list %}
                <option value="{{basin.name}}">{{basin.name}}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
        {% endif %}
        <form class="form-group" action="" method="post">
          {% csrf_token %}<hr>
          <small><b>Fields with asterisks (*) are required.</b></small><hr>
          {{basin.name|as_crispy_field}}
          {{basin.basin_length|as_crispy_field}}
          <div class="row">
            <div class="col-md">{{basin.discharge|as_crispy_field}}</div>
            <div class="col-md">
              <label for="id_ea" class="small">Application Efficiency (%)<span class="asteriskField">*</span></label>
              <select name="ea" class="select form-control custom-select" required="" id="id_ea">
                <option value={{basin_ea}}>{{basin_ea}}</option>
                <option value="50">50</option>
                <option value="55">55</option>
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="75">75</option>
                <option value="80">80</option>
                <option value="85">85</option>
                <option value="90">90</option>
                <option value="95">95</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="text-center"><input type="submit" value="Next" class="btn btn-info" name="submit-basin"></div>
        </form>
      </div>
    </div><!--Basin Row Collapse-->
    <div class="row collapse" id="collapse_irrig_2"><!--Border Row Collapse-->

      <div class="col-md-4"></div>

      <div class="col-md">
        {% if border_list %}
          <div class="row bg-light">
            <form method="post" class="form-group col-md">
              {% csrf_token %}
              <small><b>Load existing border irrigation systems.</b></small>
              <select class="form-control" id="selected_border" name="loadData_border" onchange="this.form.submit()">
                <option value="{{selected_border}}">{{selected_border_text}}</option>
                {% for border in border_list %}
                <option value="{{border.name}}">{{border.name}}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        {% endif %}
        <form class="form-group" action="" method="post">
          {% csrf_token %} <hr>
          <small><b>Fields with asterisks (*) are required.</b></small><hr>
          {{border.name|as_crispy_field}}
          {{border.discharge|as_crispy_field}}
          <div class="row">
            <div class="col-md">{{border.area_slope|as_crispy_field}}</div>
            <div class="col-md">{{border.mannings_coeff|as_crispy_field}}</div>
          </div>
          <hr>
          <div class="text-center"><input type="submit" value="Next" class="btn btn-info" name="submit-border"></div>
        </form>
      </div>
    </div><!--Border Row Collapse-->
    <div class="row collapse" id="collapse_irrig_3"><!--Furrow Row Collapse-->
      
      <div class="col-md-4"></div>
      
      <div class="col-md">
        {% if furrow_list %}
          <div class="row bg-light"><!--Dropdown Database-->
            <form method="post" class="form-group col-md">
              {% csrf_token %}
              <small><b>Load existing furrow irrigation systems.</b></small>
              <select class="form-control" id="selected_furrow" name="loadData_furrow" onchange="this.form.submit()">
                <option value="{{selected_furrow}}">{{selected_furrow_text}}</option>
                {% for furrow in furrow_list %}
                <option value="{{furrow.name}}">{{furrow.name}}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        {% endif %}<!--Dropdown Database-->
        <form class="form-group" action="" method="post">
          {% csrf_token %} <hr>
          <small><b>Fields with asterisks (*) are required.</b></small><hr>
          {{furrow.name|as_crispy_field}}
          <div class="row">
            <div class="col-md">{{furrow.bln_furrow_type|as_crispy_field}}</div>
            <div class="col-md">{{furrow.discharge|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-md">{{furrow.furrow_spacing|as_crispy_field}}</div>
            <div class="col-md">{{furrow.furrow_length|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-md">{{furrow.area_slope|as_crispy_field}}</div>
            <div class="col-md">{{furrow.mannings_coeff|as_crispy_field}}</div>
          </div>
          <hr>
          <div class="text-center"><input type="submit" value="Next" class="btn btn-info" name="submit-furrow"></div>
        </form>
      </div>
    </div><!--Furrow Row Collapse-->
    <div class="row collapse" id="collapse_irrig_4"><!--Sprinkler Row Collapse-->

      <div class="col-md-4"></div>

      <div class="col-md">
        {% if sprinkler_list %}
        <div class="row bg-light">
          <div class="col-md">
            <small><b>Load existing sprinkler irrigation systems.</b></small>
            <form method="post" class="form-group col-md">
                {% csrf_token %}
                <select class="form-control" id="selected_sprinkler" name="loadData_sprinkler" onchange="this.form.submit()">
                  <option value="{{selected_sprinkler}}">{{selected_sprinkler_text}}</option>
                  {% for sprinkler in sprinkler_list %}
                  <option value="{{sprinkler.name}}">{{sprinkler.name}}</option>
                  {% endfor %}
                </select>
            </form>
          </div>
        </div>
        {% endif %}
        <form class="form-group" action="" method="post">
          {% csrf_token %} <hr>
          <small><b>Fields with asterisks (*) are required.</b></small><hr>
          {{sprinkler.name|as_crispy_field}}
          <div class="row">
            <div class="col-md">{{sprinkler.sprinkler_spacing|as_crispy_field}}</div>
            <div class="col-md">{{sprinkler.lateral_spacing|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-md">
              <label for="id_ea" class="small">Application Efficiency (%)<span class="asteriskField">*</span></label>
              <select name="ea" class="select form-control custom-select" required="" id="id_ea">
                <option value="50">50</option>
                <option value="55">55</option>
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="75">75</option>
                <option value="80">80</option>
                <option value="85">85</option>
                <option value="90">90</option>
                <option value="95">95</option>
              </select>
              <div class="row">
                <div class="col-md">{{sprinkler.discharge|as_crispy_field}}</div>
                <div class="col-md d-flex align-items-center mt-3"><button class="btn btn-outline-info btn-sm btn-block text-wrap" type="button" onclick="calculateDischarge()">Calculate Discharge</button></div>
              </div>
            </div>
            <div class="col-md">
              <div class="card rounded-0"><!--Discharge Calculator-->
                <div class="card-header"><b>Discharge Calculator</b></div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md"><label for="id_nozzle_diameter" class="small">Nozzle Diameter (cm)</label></div>
                    <div class="col-md"><input type="number" id="id_nozzle_diameter" class="form-control form-control-sm numberinput" step="0.0001"></div>
                  </div>
                  <div class="row">
                    <div class="col-md"><label for="id_operating_pressure" class="small">Operating Pressure (kPa)</label></div>
                    <div class="col-md"><input type="number" id="id_operating_pressure" class="form-control form-control-sm numberinput" step="0.01"></div>
                  </div>
                </div>
              </div><!--Discharge Calculator-->
            </div>
          </div>
          <hr>
          <div class="text-center"><input type="submit" value="Next" class="btn btn-info" name="submit-sprinkler"></div>
        </form>
      </div>
    </div><!--Sprinkler Row Collapse-->
    <div class="row collapse" id="collapse_irrig_5"><!--Drip Row Collapse-->
      
      <div class="col-md-4">

      </div>
      
      <div class="col-md">
        {% if drip_list %}
        <div class="row bg-light">
          <form method="post" class="form-group col-md">
            {% csrf_token %}
            <small><b>Load existing drip irrigation systems.</b></small>
            <select class="form-control" id="selected_drip" name="loadData_drip" onchange="this.form.submit()">
              <option value="{{selected_drip}}">{{selected_drip_text}}</option>
              {% for drip in drip_list %}
              <option value="{{drip.name}}">{{drip.name}}</option>
              {% endfor %}
            </select>
          </form>
        </div>
        {% endif %}
        <form class="form-group" action="" method="post">
          {% csrf_token %} <hr>
          <small><b>Fields with asterisks (*) are required.</b></small><hr>
          {{drip.name|as_crispy_field}}
          <div class="row">
            <div class="col-md">{{drip.plant_spacing|as_crispy_field}}</div>
            <div class="col-md">{{drip.row_spacing|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-md">{{drip.emitters_per_plant|as_crispy_field}}</div>
            <div class="col-md">{{drip.emitter_spacing|as_crispy_field}}</div>
            <div class="col-md">{{drip.wetted_dia|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-md">{{drip.bln_single_lateral|as_crispy_field}}</div>
            <div class="col-md">{{drip.bln_ii|as_crispy_field}}</div>
            <div class="col-md collapse" id="collapse_irrig_II">{{drip.irrigation_interval|as_crispy_field}}</div>
          </div>
          <div class="row">
            <div class="col-md">
              {{drip.ave_discharge|as_crispy_field}}
              {{drip.EU|as_crispy_field}}
              <div class="d-flex align-items-center mt-3"><button class="btn btn-outline-info btn-sm btn-block text-wrap" type="button" onclick="calculateEU()">Calculate Q & EU</button></div>
            </div>
            <div class="col-md card rounded-0"><!--EU Calculator-->
              <span style="margin-top: 10px;"><b>Q & EU Calculator</b></span>
              <div id="id_card_q">
                <label for="id_q" class="small"><b>Emitter Discharge (ml/min) Samples</b></label>
                <div class="row">
                  <div class="col-2">
                    <button type="button" class="btn btn-sm btn-info" onclick="addSample()"><i class="fas fa-plus-circle" alt="add button" data-toggle="tooltip" data-placement="right" title=""></i></button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-sm btn-info" onclick="calculateEUnow()">Compute Now</button>
                  </div>
                </div>
                <p><span id="validateCV" class="small text-danger"></span></p>
                <div class="row" id="id_div_q">
                  <div class="col-md-6 small">Please input date here: </div>
                  <div class="col-md-6><input type="number" id="id_q" class="form-control form-control-sm numberinput _id_q" step="0.01"></div>
                </div>
                <br>
              </div>
            </div><!--EU Calculator-->
          </div>
  
          <hr>
          <div class="text-center">
              <input type="submit" value="Next" class="btn btn-info" name="submit-drip">
          </div>
        </form>
      </div>
    </div><!--Drip Row Collapse-->
  </div><!--Card Body-->
</div><!--Card-->
</div>
</div>
</div>
</div>
<script src="{% static 'js/showHide.js' %}"></script>
<script>
  function calculateDischarge() {
    var nozzle_diameter = document.getElementById('id_nozzle_diameter');
    var operating_pressure = document.getElementById('id_operating_pressure');
    discharge = 0.1109543178 * 0.96 * parseFloat(nozzle_diameter.value)**2 * parseFloat(operating_pressure.value)**0.5 //original equation in english system q=28.95Cd^2P^0.5 (gpm, in, psi)| C=0.96
    discharge = +discharge.toFixed(2)

    if (nozzle_diameter.value == "") {
      nozzle_diameter.focus();
    } else if (operating_pressure.value == "") {
      operating_pressure.focus();
    } else {
    $('input[name="discharge"]').val(discharge);
    }
  }
  var id_q = document.getElementById('id_q');
  function calculateEU() {
    id_q.focus();
  }

  function addSample() {
    var card_q = document.getElementById('id_card_q');
    var div_q =  document.getElementById('id_div_q');
    div_q = div_q.cloneNode(true);
    card_q.appendChild(div_q)
  }

  function calculateEUnow() {
    var _id_q = document.getElementById('id_q');
    var array_q = [];
    var _id_qs = $("._id_q");
    for (var i = 0; i < _id_qs.length; i++) {
      var _id_q = _id_qs[i];
      array_q[i] = _id_q.value;
    }
    array_q = array_q.map(Number)
    console.log(array_q);
    const q_min = Math.min(...array_q);
    const sum = array_q.reduce(function(a, b) { return a + b; }, 0);
    const n = array_q.length;
    var avg = (sum / n) || 0;
    const stdev = Math.sqrt(array_q.map(x => Math.pow(x - avg, 2)).reduce((a, b) => a + b) / n);
    var EU_val = (q_min/avg)*(1-1.27*((stdev/avg)/Math.sqrt(n)));
    EU_val = EU_val.toFixed(2);
    $('input[name="EU"]').val(EU_val);
    avg = (avg.toFixed(2))*1.44;
    $('input[name="ave_discharge"]').val(avg);

    var validateCV = document.getElementById('validateCV');
    const validateCV_val = (stdev/avg);
    console.log(validateCV_val)
    if (validateCV_val > 1) {
      validateCV.innerText = "The # of samples is not ideal. It is recommended to add more data."
    }
    
    console.log(q_min, avg, sum, n, stdev, EU_val);
  }
</script>
{% endblock %}
