{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block progressbar_block %}
<div class="progress_bar_div">
    <ul id="progressbar">
        <a href={% url 'waiss:new_farm' %}><li id="farm">Farm</li></a>
        <a href={% url 'waiss:new_personnel' %}><li id="farm_manager">Farm Manager</li></a>
        <a href={% url 'waiss:new_crop' %}><li id="crop">Crop</li></a>
        <a href={% url 'waiss:new_soil' %}><li id="soil">Soil</li></a>
        <a href={% url 'waiss:new_calib' %}><li id="calib"Calibration</strong></li></a>
        <a href={% url 'waiss:new_irrigation' %}><li id="irrig">Irrigation</li></strong></a>
        <a href={% url 'waiss:new_fieldunit' %}><li id="fieldunit">Field Unit</li></a>
        <li class="active" id="sensor"><strong>Sensors</strong></li>
        <a href={% url 'waiss:new_system' %}><li id="confirm">Finish</li></a>
    </ul>
</div>
{% endblock %}
{% block form_block %}
<div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="card-header rounded-0 border-0"><small>Sensor & Depth</small></div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg">
        <form  class="form-group" action="" method="POST">
          <small><b>Fields with asterisks (*) are required.</b></small>
          <hr>
          {{formset.management_form}}
          {% csrf_token %} 
          {% for form in formset %}
          <div class="row">
              <div class="col-md-1 d-flex align-items-center mt-3">
                  <div class="btn btn-sm btn-outline-info"><b>#{{forloop.counter}}</b></div>
              </div>
              <div class="hidden">{{form.id|as_crispy_field}}</div>
              <div class="col-md small">{{form.fieldunit|as_crispy_field}}</div>
              <div class="col-md small">{{form.name|as_crispy_field}}</div> 
              <div class="col-md-2 small">{{form.depth|as_crispy_field}}</div>
          </div>
          {% endfor%}
          <hr>
          <div class="text-center">
            <input type="submit" value="Next" class="btn btn-info" name="btn_submit">
          </div>
        </form>
      </div>
      {% if excess == True %}
      <div class="col-lg-4">
        <small class="text-danger"><b>Warnings/Errors!</b></small><hr>
        <div class="card shadow mb-4">
          <div class="card-body">
            <small>
              <span class="text-danger"><i>It seems that you are exceeding the maximum of three (3) sensors per field unit. <br>
              <b>Please delete the excess sensor(s).</b></i>
              </span>
            </small>
            <div class="table-responsive-xl">
              <table class="table table-hover border-bottom-secondary table-sm small" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                      <th class="align-top">#</th>
                      <th class="align-top ">Sensor</th>
                      <th class="align-top ">Depth (m)</th>
                      <th class="align-top ">Delete</th>
                    </tr>
                </thead>
                {% for sensor in sensors_list %}
                <tr class="text-center">
                  <td class="align-middle ">{{forloop.counter}}</td>
                  <td class="align-middle ">{{sensor.name}}</td>
                  <td class="align-middle ">{{sensor.depth}}</td>
                  <td class="align-middle ">
                    <form class="" action="" method="POST">
                      {% csrf_token %}
                      <button class="btn text-danger btn-sm" name="delete_sensor" value={{sensor.id}}><i class="fas fa-trash"></i></button></td>
                    </form>
                  </tr>
                  {% endfor%}
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
