{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                      Farm | Personnel | Crop | Soil | Calibration |<span style="color: #1abc9c; font-size: large;"><b> Irrigation</b></span>
                      <span class="progress_number">50%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color: #1abc9c; width: 40%;" data-value="40" data-percentage-value="40"></span>
                </div>
            </div>
            <div class="card mx-auto">
                <div class="card-header"><small><i>Irrigation System Type</i></small></div>
                <div class="card-body">
                  <p>
                    <a class="btn btn-success" href="{% url 'waiss:new_basin' %}" type="button">Basin</a>
                    <a class="btn btn-success" href="{% url 'waiss:new_border' %}" type="button">Border</a>
                    <a class="btn btn-success" href="{% url 'waiss:new_furrow' %}" type="button">Furrow</a>
                    <a class="btn btn-success" href="{% url 'waiss:new_drip' %}" type="button">Drip</a>
                    <a class="btn btn-success" href="{% url 'waiss:new_sprinkler' %}" type="button">Sprinkler</a>
                  </p>
                </div>
        </div>
{% endblock %}