{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_block %}
  <title>Welcome!</title>
{% endblock %}

{% block top_script_block %}
{% endblock %}

{% block dashboard_block %}
<body class="page-top bg-info">
{% endblock %}

{% block main_block %}
<br>
<div class="bg-white container col-lg-10 rounded">
    <div class="col">
        <div class="p-5">
            <h4 class="display-4" style="font-size: 35px;">Let's get started!</h4>
            <p class="lead" style="font-size: 15px;">Input required information for each parameters.</p>
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                      Personnel | Crop | <span style="color: #1abc9c; font-size: large;"><b> Soil</b></span>
                      <span class="progress_number">33.3%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color: #1abc9c; width: 33.3%;" data-value="33.3" data-percentage-value="33.3"></span>
                </div>
            </div>
            <div class="card mx-auto">
                <div class="card-header"><small>Fillout the soil type & it's physical properties.</small></div>
                <div class="card-body">
                    <form class="form-group" action="{% url 'waiss:new_soil' %}" method="post">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col">{{soil_form.soiltype|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{soil_form.fc|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{soil_form.pwp|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{soil_form.As|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ soil_form.source|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ soil_form.errors }}</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button type="button" class="btn btn-success"><a href="" onclick="window.history.go(-1); return false;" style="color:white">Previous</a></button>
                    <input type="submit" value="Submit" class="btn btn-info">
                    <button type="button" class="btn btn-success"><a href={% url 'waiss:new_irrigation' %} style="color:white">Next</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>

{% endblock %}

{% block bottom_script_block %}
{% endblock %}
