{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                      Farm | Personnel | Crop | <span style="color: #1abc9c; font-size: large;"><b> Soil</b></span>
                      <span class="progress_number">40%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color: #1abc9c; width: 40%;" data-value="40" data-percentage-value="40"></span>
                </div>
            </div>
            <div class="card mx-auto">
                <div class="card-header"><small><i>Soil & Physical Properties</i></small></div>
                <div class="card-body">
                    <form class="form-group" action="" method="post">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col">{{soil_form.soiltype|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{soil_form.fc|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{soil_form.pwp|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                          <div class="col">{{soil_form.intake_family|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ soil_form.source|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ soil_form.errors }}</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button type="button" class="btn btn-success"><a href={% url 'waiss:new_crop' %} style="color:white">Previous</a></button>
                    <input type="submit" value="Submit" class="btn btn-info">
                    <button type="button" class="btn btn-success"><a href={% url 'waiss:new_calib' %} style="color:white">Next</a></button>
                </div>
            </form>
        </div>
{% endblock %}
