{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                        Farm | Personnel | Crop | Soil | <span style="color: #1abc9c; font-size: large;"><b>Calibration</b></span>
                        <span class="progress_number">50%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color: #1abc9c; width: 50%;" data-value="50" data-percentage-value="50"></span>
                </div>
            </div>
            <div class="card">
              <form class="form-group" action="" method="post">
                {% csrf_token %}
                <div class="card-header">
                    <small><i>Calibration Equation & Coefficients</i></small>
                </div>
                <div class="card-body">
                  <div class="row">
                      <div class="col-7">{{calib_form.name|as_crispy_field}}</div>
                  </div>
                  <div class="row">
                      <div class="col-7">{{calib_form.calib_equation|as_crispy_field}}</div>
                      <div class="col"><br><span class="text-success"><small><b>Equation Standard Form</b></small></span></div>
                  </div>
                  <div class="col">
                      <div class="row">
                          <div class="col-7">{{calib_form.coeff_a|as_crispy_field}}</div>
                          <div class="col"><small><i>Linear: MC<sub>v</sub> = a(reading) + b<br>
                            Quadratic: MC<sub>v</sub> = a(reading)<sup>2</sup> + b(reading) + c</i></small>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-7">{{calib_form.coeff_b|as_crispy_field}}</div>
                          <div class="col"><small><i>Exponential: MC<sub>v</sub> = ae<sup>b</sup>(reading)<br>
                            Logarithmic: MC<sub>v</sub> = aln(reading) + b</i></small>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-7">{{calib_form.coeff_c|as_crispy_field}}</div>
                          <div class="col"><small><i>Symmetrical Sigmoidal: MC<sub>v</sub> = d + (a - d)/(1 + (reading/c)<sup>b</sup>)</i></small>
                              <br><small><i>Assymmetrical Sigmoidal: <br>
                                MC<sub>v</sub> = d + (a - d)/((1 + (reading/c)<sup>b</sup>))<sup>m</sup></i></small>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-7">{{calib_form.coeff_d|as_crispy_field}}</div>
                      </div>
                      <div class="row">
                          <div class="col-7">{{calib_form.coeff_m|as_crispy_field}}</div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-7">{{calib_form.date_tested|as_crispy_field}}</div>
                  </div>
                  <div class="row">
                      <div class="col-7">{{calib_form.tested_by|as_crispy_field}}</div>
                  </div>
                  <div class="row">
                      <div class="col-7">{{calib_form.errors}}</div>
                  </div>
              </div>
          </div>
          <br>
          <div class="text-center">
            <button type="button" class="btn btn-success"><a href={% url 'waiss:new_soil' %} style="color:white">Previous</a></button>
            <input type="submit" value="Submit" class="btn btn-info">
            <button type="button" class="btn btn-success"><a href={% url 'waiss:new_irrigation' %} style="color:white">Next</a></button>
          </div>
        </form>
      </div>
{% endblock %}