{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
  <div class="pro-bar">
      <small class="progress_bar_title">
          <span style="color: #1abc9c; font-size: large;"><b>Farm</b></span> | <a href={% url 'waiss:new_personnel' %} style="color:#858796">Personnel</a> | <a href={% url 'waiss:new_crop' %} style="color:#858796">Crop</a> | <a href={% url 'waiss:new_soil' %} style="color:#858796">Soil</a> | <a href={% url 'waiss:new_calib' %} style="color:#858796">Calibration</a> | <a href={% url 'waiss:new_irrigation' %} style="color: #858796">Irrigation</a> | <a href={% url 'waiss:new_fieldunit' %} style="color:#858796">Field Unit</a> | <a href={% url 'waiss:new_sensor' %} style="color:#858796">Sensor</a> | <a href={% url 'waiss:new_system' %} style="color:#858796">System</a>
        
          <span class="progress_number">11%</span>
      </small>
      <span class="progress-bar-inner" style="background-color: #1abc9c; width: 11%;" data-value="11" data-percentage-value="11"></span>
  </div>
</div>

<div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="card-header rounded-0 border-0"><small>Farm Name & Location</small></div>
    <div class="card-body">
      <div class="row">
        <div class="col-7">
          {% if farm_list %}
          <div class="row bg-light">
            <form method="post" class="form-group col">
              {% csrf_token %}
              <small><b>Load existing farms.</b></small><hr>
              <select class="form-control" id="selected_farm" name="loadData" onchange="this.form.submit()">
                  <option value="{{selected_farm}}">{{selected_farm_text}}</option>
                  {% for farm in farm_list %}
                  <option value="{{farm.name}}">{{farm.name}}</option>
                  {% endfor %}
              </select>
            </form>
          </div>
          {% endif %}
          <form method="post" class="form-group">
            {% csrf_token %}
            {{ farm_form.name|as_crispy_field }}
            <div class="row">
              <div class="col">{{ farm_form.brgy|as_crispy_field }}</div>
              <div class="col">{{ farm_form.municipality|as_crispy_field }}</div>
              <div class="col">{{ farm_form.province|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col">{{farm_form.lat|as_crispy_field}}</div>
              <div class="col">{{farm_form.long|as_crispy_field}}</div>
              <div class="col"><br><button  class="btn btn-outline-info btn-block" data-content="By clicking this button, you may need to allow this site to access your current location." data-placement="left" data-toggle="popover" data-trigger="hover" id="get-my-loc" name="get-farm-coordinates" onclick="getLocationforFarm();" type="button">Get my location</button></div>
            </div>
            <div class="row">
              <div class="col-8">{{ farm_form.farm_area|as_crispy_field }}</div>
              <div class="col"><br><button  class="btn btn-outline-info btn-block" data-target="#modalTraceFarm" data-toggle="modal" id="trace-my-farm" name="trace-my-farm" type="button">Trace my farm</button>
              </div>
            </div>
            <hr>
            <div class="text-center">
              <input type="submit" value="Next" class="btn btn-info" name="btn_submit">
            </div>
          </form>
        </div>
        <div class="col-5" id="tracemap"></div>
      </div>
    </div>
  </div>
</div>
</div>

<!--Trace Farm modal-->
<div class="modal pg-show-modal fade" id="modalTraceFarm">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 id="login-modalLabel" class="modal-title">How to trace your farm</h4>
              <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                  <span aria-hidden="true">X</span>
              </button>
          </div>
          <div class="modal-body">
              <h2 class="fs-title text-primary"></h2>
              <label>1. Find your farm in the map <br>
                  2. Click on the ruler icon at the top left portion of the map <br>
                  3. Click 'Create a new measurement' option<br>
                  3. Trace your farm by clicking on the farm boundaries.<br>
                  4. If finished tracing, click 'Finish measurement' option.</label>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/showHide.js' %}"></script>
{% endblock %}
    