{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_block %}
  <title>Welcome!</title>
{% endblock %}

{% block top_script_block %}
{% endblock %}

{% block dashboard_block %}
<body class="page-top bg-info">
{% endblock %}

{% block main_block %}
<br>
<div class="bg-white container col-lg-10 rounded">
    <div class="col">
        <div class="p-5">
            <h4 class="display-4" style="font-size: 35px;">Let's get started!</h4>
            <p class="lead" style="font-size: 15px;">Input required information for each parameters.</p>
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                        <span style="color: #1abc9c; font-size: large;"><b> Personnel</b></span>
                        <span class="progress_number">11.1%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color: #1abc9c; width: 11.1%;" data-value="11.1" data-percentage-value="11.1"></span>
                </div>
            </div>
            <div class="card">
                <div class="card-header"><small><i>Input the name and mobile number of the personnel that will receive the irrigation advisories.</i></small></div>
                <div class="card-body">
                    <form class="form-group" action="{% url 'waiss:new_personnel' %}" method="post">
                        {% csrf_token %} 
                        <div class="row">
                            <div class="col">{{personnel_form.first_name|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{personnel_form.last_name|as_crispy_field}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{personnel_form.number|as_crispy_field}}</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-info">
                    <button type="button" class="btn btn-success"><a href={% url 'waiss:new_crop' %} style="color:white">Next</a></button>
                </div>
            </form> 
        </div>
    </div>
</div>
<br>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
