{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
  <div class="pro-bar">
      <small class="progress_bar_title">
        <a href={% url 'waiss:new_farm' %} style="color: #858796">Farm</a> | <a href={% url 'waiss:new_personnel' %} style="color:#858796">Personnel</a> | <a href={% url 'waiss:new_crop' %} style="color:#858796">Crop</a> | <a href={% url 'waiss:new_soil' %} style="color:#858796">Soil</a> | <a href={% url 'waiss:new_calib' %} style="color:#858796">Calibration</a> | <a href={% url 'waiss:new_irrigation' %} style="color: #858796">Irrigation</a> | <a href={% url 'waiss:new_fieldunit' %} style="color:#858796">Field Unit</a> | <a href={% url 'waiss:new_sensor' %} style="color:#858796">Sensor</a> | <span style="color: #1abc9c; font-size: large;"><b>System</b></span>
          <span class="progress_number">100%</span>
      </small>
      <span class="progress-bar-inner" style="background-color: #1abc9c; width: 100%;" data-value="100" data-percentage-value="100"></span>
  </div>
</div>
  <div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="card-header rounded-0 border-0">
      <small>Almost there! Validate each fields and press confirm!</small>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md">
          <form class="form-group" method="post" onsubmit="return validateForm(this);" name="myForm">
            {% csrf_token %}
            <small><b>Fields with asterisks (*) are required.</b></small>
            <hr>
            <div class="row">
                <div class="col">{{form.name|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col">{{form.date_transplanted|as_crispy_field }}</div>
            </div>
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Farm*</label>
                <select class="select form-control custom-select" name="farm" id="id_farm">
                  {% if farm_ses %}
                  <option value="{{farm_ses}}">{{ses_farm}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in farm_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right small"><b><span id="error_farm"></span></b></div>
              </div>
              <div class="col-md">
                <label class="mb-0 small">Farm Manager*</label>
                <select class="select form-control custom-select" name="farm_manager" id="id_farm_manager">
                  {% if farm_manager_ses %}
                  <option value="{{farm_manager_ses}}">{{ses_farm_manager}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in farm_manager_list %}
                  <option value="{{f.id}}">{{f.first_name}} {{f.last_name}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right small"><b><span id="error_farm_manager"></span></b></div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Crop*</label>
                <select class="select form-control custom-select" name="crop" id="id_crop">
                  {% if crop_ses %}
                  <option value="{{crop_ses}}">{{ses_crop}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in crop_list %}
                  <option value="{{f.id}}">{{f.crop}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right small"><b><span id="error_crop"></span></b></div>
              </div>
              <div class="col-md">
                <label class="mb-0 small">Soil*</label>
                <select class="select form-control custom-select" name="soil" id="id_soil">
                  {% if soil_ses %}
                  <option value="{{soil_ses}}">{{ses_soil}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in soil_list %}
                  <option value="{{f.id}}">{{f.soiltype}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right small"><b><span id="error_soil"></span></b></div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Field Unit*</label>
                <select class="select form-control custom-select" name="fieldunit" id="id_fieldunit">
                  {% if fieldunit_ses %}
                  <option value="{{fieldunit_ses}}">{{ses_fieldunit}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in fieldunit_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right small"><b><span id="error_fieldunit"></span></b></div>
              </div>
              <div class="col-md">
                <label class="mb-0 small">Calibration Equation*</label>
                <select class="select form-control custom-select" name="calib" id="id_calib">
                  {% if calib_ses %}
                  <option value="{{calib_ses}}">{{ses_calib}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in calib_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right small"><b><span id="error_calib"></span></b></div>
              </div>
            </div>
            {% if basin_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Basin*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="basin" id="id_basin">
                  {% if basin_ses %}
                  <option value="{{basin_ses}}">{{ses_basin}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in basin_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% elif border_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Border*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="border" id="id_border">
                  {% if border_ses %}
                  <option value="{{border_ses}}">{{ses_border}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in border_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% elif furrow_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Furrow*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="furrow" id="id_furrow">
                  {% if furrow_ses %}
                  <option value="{{furrow_ses}}">{{ses_furrow}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in furrow_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% elif sprinkler_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Sprinkler*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="sprinkler" id="id_sprinkler">
                  {% if sprinkler_ses %}
                  <option value="{{sprinkler_ses}}">{{ses_sprinkler}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in sprinkler_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% elif drip_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Drip*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="drip" id="id_drip">
                  {% if drip_ses %}
                  <option value="{{drip_ses}}">{{ses_drip}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in drip_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% endif %}
            <hr>
            <div class="text-center">
              <input type="submit" value="Finish!" class="btn btn-info" name="btn_submit">
            </div>
          </form>
        </div> <!--col-->
      {% if excess or no_irrigation %}
      <div class="col-md-4">
        <small class="text-danger"><b>Warnings/Errors!</b></small><hr>
        {% if excess == True %}<!--SENSOR ERROR-->
        <div class="card shadow mb-4">
          <div class="card-body">
            <small>
              <span class="text-danger"><i>It seems that you are exceeding the maximum of three (3) sensors per field unit. 
                <b>Please delete the excess sensor(s).</b></i></span>
            </small>
            <table class="table table-hover border-bottom-secondary table-sm small" width="100%" cellspacing="0">
              <thead>
                  <tr class="text-center">
                    <th class="align-top">#</th>
                    <th class="align-top ">Sensor</th>
                    <th class="align-top ">Depth (m)</th>
                    <th class="align-top ">Delete</th>
                  </tr>
              </thead>
              {% for sensor in sensors_list %}
              <tr class="text-center">
                <td class="align-middle ">{{forloop.counter}}</td>
                <td class="align-middle ">{{sensor.name}}</td>
                <td class="align-middle ">{{sensor.depth}}</td>
                <td class="align-middle ">
                  <form class="" action="" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm text-danger" name="delete_sensor" value={{sensor.id}}><i class="fas fa-trash"></i></button>
                  </form>
                </td> 
              </tr>
              {% endfor%}
            </table>
          </div>
        </div>
        {% endif %}<!--SENSOR ERROR-->
        {% if no_irrigation ==True %} <!--IRRIGATION WARNING-->
        <div class="row">
          <div class="col text-center text-danger small">
            <p><i><b>Warning!</b> You do not have an irrigation system. To add, go back to the <kbd class="text-dark"><a href={% url 'waiss:new_irrigation' %}>irrigation</a></kbd> tab. <br>
            If correct, click <kbd>Finish</kbd>.</i></p>
          </div>
        </div>
        <!--IRRIGATION WARNING-->
      {% endif %} 
      </div> <!--ERROR COL-->
      </div> <!--row-->
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function validateForm(form) {
    var farm = document.getElementById('id_farm')
    var e_farm = document.getElementById('error_farm')

    var farm_manager = document.getElementById('id_farm_manager')
    var e_farm_manager = document.getElementById('error_farm_manager')

    var crop = document.getElementById('id_crop')
    var e_crop = document.getElementById('error_crop')

    var soil = document.getElementById('id_soil')
    var e_soil = document.getElementById('error_soil')

    var fieldunit = document.getElementById('id_fieldunit')
    var e_fieldunit = document.getElementById('error_fieldunit')

    var calib = document.getElementById('id_calib')
    var e_calib = document.getElementById('error_calib')

    if (farm.value == "") {
      e_farm.innerText = "Farm field is required."
      farm.focus();
      return false;
    } else if (farm_manager.value == "") {
      e_farm_manager.innerText = "Farm Manager field is required."
      farm_manager.focus();
      return false;
    } else if (crop.value == "") {
      e_crop.innerText = "Crop field is required."
      crop.focus();
      return false;
    } else if (soil.value == "") {
      e_soil.innerText = "Soil field is required."
      soil.focus();
      return false;
    } else if (calib.value == "") {
      e_calib.innerText = "Calibration Equation field is required."
      calib.focus();
      return false;
    } else if (fieldunit.value == "") {
      e_fieldunit.innerText = "Fieldunit field is required."
      fieldunit.focus();
      return false;
    } else if ("{{excess}}" == "True") {
      fieldunit.focus();
      return false;
    } else {
      return true;
    }
  }
</script>
{% endblock %}