{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
  <div class="pro-bar">
      <small class="progress_bar_title">
        <a href={% url 'waiss:new_farm' %} style="color:#858796">Farm</a> | <a href={% url 'waiss:new_personnel' %} style="color:#858796">Personnel</a> | <span style="color: #1abc9c; font-size: large;"><b>Crop</b></span> | <a href={% url 'waiss:new_soil' %} style="color:#858796">Soil</a> | <a href={% url 'waiss:new_calib' %} style="color:#858796">Calibration</a> | <a href={% url 'waiss:new_irrigation' %} style="color: #858796">Irrigation</a> | <a href={% url 'waiss:new_fieldunit' %} style="color:#858796">Field Unit</a> | <a href={% url 'waiss:new_sensor' %} style="color:#858796">Sensor</a> | <a href={% url 'waiss:new_system' %} style="color:#858796">System</a>
          <span class="progress_number">33%</span>
      </small>
      <span class="progress-bar-inner" style="background-color: #1abc9c; width: 33%;" data-value="33" data-percentage-value="33"></span>
  </div>
</div>
<div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="card-header border-0 rounded-0"><small>Crop & Characteristics</small></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          {% if crop_list %}
          <div class="row bg-light">
            <form method="post" class="form-group col-md">
              {% csrf_token %}
              <small><b>Load existing crops.</b></small><hr>
              <select class="form-control" id="selected_crop" name="loadData" onchange="this.form.submit()">
                <option value="{{selected_crop}}">{{selected_crop_text}}</option>
                {% for crop in crop_list %}
                <option value="{{crop.crop}}">{{crop.crop}}</option>
                {% endfor %}
              </select>
            </form>
          </div>
          {% endif %}
        </div>
        <div class="col-md">
          <form method="post" class="form-group">
            {% csrf_token %}
            <small><b>Fields with asterisks (*) are required.</b></small>
            <hr>
            {{crop_form.crop|as_crispy_field}}
            <div class="row">
              <div class="col-md">{{crop_form.growingperiod|as_crispy_field}}</div>
              <div class="col-md">{{crop_form.mad|as_crispy_field}}</div>
            </div>
            <div class="row">
              <div class="col-md">{{crop_form.root_ini|as_crispy_field}}</div>
              <div class="col-md">{{crop_form.drz|as_crispy_field}}</div>
            </div>
            {{crop_form.root_growth_model|as_crispy_field}}
            <div class="row collapse" id="collapse1">
              <div class="col-md">
                <hr>
                <small>No additional information required!</small>
                <hr>
              </div>
            </div>
            <div class="row collapse" id="collapse2">
              <div class="col-md">
                <hr>
                <div class="row">
                  <div class="col-md">{{crop_form.kc_ini|as_crispy_field}}</div>
                  <div class="col-md">{{crop_form.kc_mid|as_crispy_field}}</div>
                  <div class="col-md">{{crop_form.kc_end|as_crispy_field}}</div>
                </div>
                <div class="row">
                  <div class="col-md">{{crop_form.kc_cc_1|as_crispy_field}}</div>
                  <div class="col-md">{{crop_form.kc_cc_2|as_crispy_field}}</div>
                  <div class="col-md">{{crop_form.kc_cc_3|as_crispy_field}}</div>
                </div>
                <hr>
              </div>
            </div>
            <div class="row collapse" id="collapse3">
              <div class="col-md">
                <hr>
                {{crop_form.eqnform|as_crispy_field}}
                <div class="row collapse" id="panel1">
                  <div class="col-md d-flex align-items-center mt-3"><small><b>MC<sub>v</sub> = ax + b</b></small></div>
                  <div class="col-md">{{crop_form.root_a|as_crispy_field}}</div>
                  <div class="col-md">{{crop_form.root_b|as_crispy_field}}</div>
                </div>
                <div class="row collapse" id="panel2">
                  <div class="col-md-4 d-flex align-items-center mt-3"><small><b>MC<sub>v</sub> = ax<sup>2</sup> + bx + c</b></small></div>
                  <div class="col-md">{{crop_form.root_a|as_crispy_field}}</div>
                  <div class="col-md">{{crop_form.root_b|as_crispy_field}}</div>
                  <div class="col-md">{{crop_form.root_c|as_crispy_field}}</div>
                </div>
                <hr>
              </div>
            </div>
            {{crop_form.select_drip|as_crispy_field}}
            <div class="row collapse" id="collapseOne">
              <hr>
              <div class="col-md">{{crop_form.peak_Etcrop|as_crispy_field}}</div>
              <div class="col-md">{{crop_form.transpiration_ratio|as_crispy_field}}</div>
              <hr>
            </div>
            {{crop_form.source|as_crispy_field}}
        <hr>
        <div class="text-center">
            <input type="submit" value="Next" class="btn btn-info" name="btn_submit">
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
<script src="{% static 'js/showHide.js' %}"></script>  
{% endblock %}

