{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
  <div class="pro-bar">
      <small class="progress_bar_title">
        <a href={% url 'waiss:new_farm' %} style="color: #858796">Farm</a> | <a href={% url 'waiss:new_personnel' %} style="color:#858796">Personnel</a> | <a href={% url 'waiss:new_crop' %} style="color:#858796">Crop</a> | <a href={% url 'waiss:new_soil' %} style="color:#858796">Soil</a> | <a href={% url 'waiss:new_calib' %} style="color:#858796">Calibration</a> | <a href={% url 'waiss:new_irrigation' %} style="color: #858796">Irrigation</a> | <a href={% url 'waiss:new_fieldunit' %} style="color:#858796">Field Unit</a> | <a href={% url 'waiss:new_sensor' %} style="color:#858796">Sensor</a> | <span style="color: #1abc9c; font-size: large;"><b>System</b></span>
          <span class="progress_number">100%</span>
      </small>
      <span class="progress-bar-inner" style="background-color: #1abc9c; width: 100%;" data-value="100" data-percentage-value="100"></span>
  </div>
</div>
  <div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="card-header rounded-0 border-0">
      <small>Almost there! Validate each fields and press confirm!</small>
  </div>
        <div class="card-body">
          <form class="form-group" method="post" onsubmit="return validateForm(this);" name="myForm">
            {% csrf_token %}
            <small><b>Fields with asterisks (*) are required.</b></small>
            <hr>
            <div class="row">
                <div class="col">{{form.name|as_crispy_field }}</div>
            </div>
            <div class="row">
              <div class="col">{{form.date_transplanted|as_crispy_field }}</div>
            </div>
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Farm*</label>
                <select class="select form-control custom-select" name="farm" id="id_farm">
                  {% if farm_ses %}
                  <option value="{{farm_ses}}">{{ses_farm}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in farm_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right small">
                  <i><b>{{empty_farm}}</b></i>
                </div>
              </div>
              <div class="col-md">
                <label class="mb-0 small">Farm Manager*</label>
                <select class="select form-control custom-select" name="farm_manager" id="id_farm_manager">
                  {% if farm_manager_ses %}
                  <option value="{{farm_manager_ses}}">{{ses_farm_manager}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in farm_manager_list %}
                  <option value="{{f.id}}">{{f.first_name}} {{f.last_name}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right small">
                  <i><b>{{empty_farm_manager}}</b></i>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Crop*</label>
                <select class="select form-control custom-select" name="crop" id="id_crop">
                  {% if crop_ses %}
                  <option value="{{crop_ses}}">{{ses_crop}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in crop_list %}
                  <option value="{{f.id}}">{{f.crop}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right small">
                  <i><b>{{empty_crop}}</b></i>
                </div>
              </div>
              <div class="col-md">
                <label class="mb-0 small">Soil*</label>
                <select class="select form-control custom-select" name="soil" id="id_soil">
                  {% if soil_ses %}
                  <option value="{{soil_ses}}">{{ses_soil}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in soil_list %}
                  <option value="{{f.id}}">{{f.soiltype}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right">
                  <i><small><b>{{empty_soil}}</b></small></i>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Field Unit*</label>
                <select class="select form-control custom-select" name="fieldunit" id="id_fieldunit">
                  {% if fieldunit_ses %}
                  <option value="{{fieldunit_ses}}">{{ses_fieldunit}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in fieldunit_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right">
                  <i><small><b>{{empty_fieldunit}}</b></small></i>
                </div>
              </div>
              <div class="col-md">
                <label class="mb-0 small">Calibration Equation*</label>
                <select class="select form-control custom-select" name="calib" id="id_calib">
                  {% if calib_ses %}
                  <option value="{{calib_ses}}">{{ses_calib}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in calib_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
                <div class="text-danger text-right">
                  <i><small><b>{{empty_calib}}</b></small></i>
                </div>
              </div>
            </div>
            <div class="row form-group"> <!--SENSORS -->
              <div class="col-md small">
                {% for sensor in sensors_list %}
                <div class="row">
                  <div class="col"><b>#{{forloop.counter}}</b>&emsp;{{sensor.name}}</div>
                  <div class="col">
                    <form class="form-group" action="" method="POST">
                      {% csrf_token %}
                      {{sensor.depth}}&emsp;
                      <button class="btn text-danger btn-sm" name="delete_sensor" value={{sensor.id}}><i class="fas fa-trash"></i></button>
                    </form>
                  </div>
                </div>
                {% endfor%}
                {% if excess == True %}
                <small>
                  <span class="text-danger"><i>It seems that you are exceeding the maximum of three (3) sensors per field unit. Please delete the excess sensor(s).</i></span>
                </small>
                {% endif %}
              </div>
            </div>
            {% if basin_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Basin*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="basin" id="id_basin">
                  {% if basin_ses %}
                  <option value="{{basin_ses}}">{{ses_basin}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in basin_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% elif border_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Border*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="border" id="id_border">
                  {% if border_ses %}
                  <option value="{{border_ses}}">{{ses_border}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in border_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% elif furrow_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Furrow*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="furrow" id="id_furrow">
                  {% if furrow_ses %}
                  <option value="{{furrow_ses}}">{{ses_furrow}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in furrow_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% elif sprinkler_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Sprinkler*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="sprinkler" id="id_sprinkler">
                  {% if sprinkler_ses %}
                  <option value="{{sprinkler_ses}}">{{ses_sprinkler}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in sprinkler_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% elif drip_ses %}
            <div class="row form-group">
              <div class="col-md">
                <label class="mb-0 small">Drip*</label>
              </div>
              <div class="col-md">
                <select class="select form-control custom-select" name="drip" id="id_drip">
                  {% if drip_ses %}
                  <option value="{{drip_ses}}">{{ses_drip}}</option>
                  {% else %}
                  <option value="">----------</option>
                  {% endif %}
                  {% for f in drip_list %}
                  <option value="{{f.id}}">{{f.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% else %}
            <div class="row">
              <div class="col text-center text-danger small">
                <p><i><b>Warning!</b> You do not have an irrigation system. To add, go back to the <kbd class="text-dark"><a href={% url 'waiss:new_irrigation' %}>irrigation</a></kbd> tab. <br>
                If correct, click <kbd>Finish</kbd>.</i></p>
              </div>
            </div>
            {% endif %}
            <hr>
            <div class="text-center">
              <input type="submit" value="Finish!" class="btn btn-info">
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  function validateForm(form) {
    if(document.getElementById('id_farm').value=="") {
      alert("Complete required fields.");
      return false;
    }
  }
</script>
{% endblock %}