{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_block %}
  <title>Welcome!</title>
{% endblock %}

{% block top_script_block %}
{% endblock %}

{% block dashboard_block %}
<body class="page-top bg-info"><br>
{% endblock %}

{% block main_block %}
<div class="bg-white container col-lg-10 rounded">
    <div class="col">
        <div class="p-5">
        <h4 class="display-4" style="font-size: 35px;">Let's get started!</h4>
          <p class="lead" style="font-size: 15px;">Input required information for each parameters.</p>
          <div class="progress_bar">
              <div class="pro-bar">
                  <small class="progress_bar_title">
                    Personnel | Crop | Soil | Irrigation System |<span style="color: #1abc9c; font-size: large;"><b> Field Unit</b></span>
                    <span class="progress_number">55.5%</span>
                  </small>
                  <span class="progress-bar-inner" style="background-color: #1abc9c; width: 55.5%;" data-value="55.5" data-percentage-value="55.5"></span>
              </div>
          </div>
            <div class="card">
              <div class="card-header">
                  <small>Fillout field unit information and initial settings.</small>
              </div>
                        <div class="card-body">
                            <form class="form-group" action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.name|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.usk|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.lat|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.longi|as_crispy_field }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.mobilenumber|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.samples|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.sensorintegrationtime|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.timestart|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.timestop|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.delay|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.clockcorrection|as_crispy_field}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ fieldunit_form.errors}}</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-success"><a href="" onclick="window.history.go(-1); return false;" style="color:white">Previous</a></button>
                            <input type="submit" value="Submit" class="btn btn-info">
                            <button type="button" class="btn btn-success"><a href={% url 'waiss:new_farm' %} style="color:white">Next</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
