{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
  <div class="pro-bar">
      <small class="progress_bar_title">
          <span style="color: #1abc9c; font-size: large;"><b>Farm</b></span> | <a href={% url 'waiss:new_personnel' %} style="color:#858796">Personnel</a> | <a href={% url 'waiss:new_crop' %} style="color:#858796">Crop</a> | <a href={% url 'waiss:new_soil' %} style="color:#858796">Soil</a> | <a href={% url 'waiss:new_calib' %} style="color:#858796">Calibration</a> | <a href={% url 'waiss:new_irrigation' %} style="color: #858796">Irrigation</a> | <a href={% url 'waiss:new_fieldunit' %} style="color:#858796">Field Unit</a> | <a href={% url 'waiss:new_sensor' %} style="color:#858796">Sensor</a> | <a href={% url 'waiss:new_system' %} style="color:#858796">System</a>
        
          <span class="progress_number">11%</span>
      </small>
      <span class="progress-bar-inner" style="background-color: #1abc9c; width: 11%;" data-value="11" data-percentage-value="11"></span>
  </div>
</div>

<div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="card-header rounded-0 border-0"><small>Farm Name & Location</small></div>
    <div class="card-body">
      <div class="row">
        {% if farm_list %}
        <div class="col-4">
          <form method="post" class="form-group">
            {% csrf_token %}
            <small><b>Load existing farms.</b></small><hr>
            <select class="form-control" id="selected_farm" name="loadData" onchange="this.form.submit()">
              <option value="{{selected_farm}}">{{selected_farm_text}}</option>
              {% for farm in farm_list %}
              <option value="{{farm.name}}">{{farm.name}}</option>
              {% endfor %}
            </select>
          </form>
        </div>
        {% endif %}
        <div class="col">
          <form method="post" class="form-group">
            {% csrf_token %}
            <small><b>Fields with asterisks (*) are required.</b></small><hr>
            {{ farm_form.name|as_crispy_field }}
            {{ farm_form.farm_area|as_crispy_field }}
            {{ farm_form.brgy|as_crispy_field }}
            {{ farm_form.municipality|as_crispy_field }}
            {{ farm_form.province|as_crispy_field }}
            {{farm_form.select_coordinates|as_crispy_field}}
            <div class="collapse" id="collapseOne">
              {{farm_form.lat|as_crispy_field}}
              {{farm_form.long|as_crispy_field}}
            </div>
            <div class="row" id="map"></div>
            <hr>
            <div class="text-center">
              <input type="submit" value="Next" class="btn btn-info" name="btn_submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  var map = L.map('map').setView([12.8797, 121.7740], 13);
  var popup = L.popup();

  L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=g0oXxXY5s36OBV9ZK206', {
    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
    maxZoom: 18,
    tileSize: 256,
    innerHeight: 180,
    zoomOffset: -1,
    }).addTo(map);
    
  function onMapClick(e) {
    popup
      .setLatLng(e.latlng)
      .setContent("You farm is at " + e.latlng.toString())
      .openOn(map);
  }
  
  map.on('click', onMapClick);
</script>
<script src="{% static 'js/showHide.js' %}"></script>
{% endblock %}
    