{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block form_block %}
<div class="progress_bar">
  <div class="pro-bar">
      <small class="progress_bar_title">
        Farm | Personnel | Crop | Soil | Calibration | <span style="color: #1abc9c; font-size: large;"><b> Irrigation</b></span>
        <span class="progress_number">60%</span>
      </small>
      <span class="progress-bar-inner" style="background-color: #1abc9c; width: 60%;" data-value="60" data-percentage-value="60"></span>
  </div>
</div>
<div class="card mx-auto">
    <div class="card-header"><small><i>Drip Irrigation System & Specifications</i></small></div>
    <div class="card-body">
      <p>
        <a class="btn btn-secondary" href="{% url 'waiss:new_basin' %}" type="button">Basin</a>
        <a class="btn btn-secondary" href="{% url 'waiss:new_border' %}" type="button">Border</a>
        <a class="btn btn-secondary" href="{% url 'waiss:new_furrow' %}" type="button">Furrow</a>
        <a class="btn btn-success" href="{% url 'waiss:new_drip' %}" type="button">Drip</a>
        <a class="btn btn-secondary" href="{% url 'waiss:new_sprinkler' %}" type="button">Sprinkler</a>
      </p>
      <hr>
      <div class="row">
        <div class="col">
            <form class="form-group" action="" method="post">
                {% csrf_token %}
                <div class="col">{{ irrigation_form.name|as_crispy_field}}</div>
                <div class="col">{{ irrigation_form.discharge|as_crispy_field}}</div>
                <div class="col">{{ irrigation_form.bln_single_lateral|as_crispy_field }}</div>
                <div class="col">{{ irrigation_form.emitters_per_plant|as_crispy_field }}</div>
                <div class="col">{{ irrigation_form.emitter_spacing|as_crispy_field }}</div>
                <div class="col">{{ irrigation_form.plant_spacing|as_crispy_field }}</div>
                <div class="col">{{ irrigation_form.row_spacing|as_crispy_field }}</div>
                <div class="col">{{ irrigation_form.wetted_dia|as_crispy_field }}</div>
                <div class="col">{{ irrigation_form.EU|as_crispy_field }}</div>
                <div class="col">{{ irrigation_form.bln_ii|as_crispy_field }}</div>
                <div class="col">{{ irrigation_form.irrigation_interval|as_crispy_field }}</div>
                <hr>
                <div class="text-center">
                    <button type="button" class="btn btn-success"><a href={% url 'waiss:new_calib' %} style="color:white">Previous</a></button>
                    <input type="submit" value="Submit" class="btn btn-info">
                    <button type="button" class="btn btn-success"><a href={% url 'waiss:new_fieldunit' %} style="color:white">Next</a></button>
                </div>
            </form>
        </div>        
      </div>
    </div>
  </div>

{% endblock %}
