<!DOCTYPE html> 
{% load static %}
{% load crispy_forms_tags %}

<html>

<head>
    {% block meta_block %}
    {% endblock %}
    <meta charset=”utf-8”> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    <link rel="icon" type="image/png" href={% static "theme/waiss_logo.png" %}/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  
    <!-- Custom fonts for this template-->
    <link href={% static "vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href={% static "css/sb-admin-2.min.css" %} rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href={% static "css/footer.css" %} rel="stylesheet" type="text/css">
    <link href={% static "css/progress-bar.css" %} rel="stylesheet" type="text/css">

    <title>
        {% block title_block %}
        WAISS
        {% endblock %}
    </title>
</head>

<body id="page-top" onload="startTime()">

{% block sarai_nav_block %}
<div class="nav-holder border-bottom bg-light">
  <!-- Top bar-->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light top-bar bg-light container">
      <a class="navbar-brand" href="#"><img src={% static "theme/sarai_logo.png" %} class="logo" height="45" alt="sarai_logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="https://sarai.ph/about-us">About Us</a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" href="#">Advisory</a>
      </li> -->
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Maps
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://maps.sarai.ph/suitability-maps">Suitability Maps</a>
          <a class="dropdown-item" href="http://maps.sarai.ph/ndvi">Normalized Difference Vegetation Index</a>
          <a class="dropdown-item" href="http://maps.sarai.ph/rainfall-maps">Rainfall Map</a>
          <a class="dropdown-item" href="http://maps.sarai.ph/agri-drought">SVTR Map</a>
          <a class="dropdown-item" href="http://maps.sarai.ph/evi">Enhanced Vegetation Index</a>
          <a class="dropdown-item" href="https://aldrinjao.github.io/soils2/">Soils Profile Map</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://sarai.ph/rainfall-outlook">Rainfall Outlook</a>
          <a class="dropdown-item" href="https://sarai.ph/drought-forecast">Drought Forecast</a>
          <a class="dropdown-item" href="https://sarai.ph/weather-monitoring">Weather Monitoring</a>
          <a class="dropdown-item" href="http://202.92.144.48/">Sarai Community</a>
          <a class="dropdown-item" href="https://www.saraiapps.xyz/soilsmap/">Soils Characteristics</a>
          </div>
      </li>
      </ul>
      <a class="navbar-brand" href="#"><img src={% static "theme/dost-logo.png" %} height="50px;"></a>
      <a class="navbar-brand" href="#"><img src={% static "theme/dost-pcaarrd-logo.png" %} height="50px;"></a>
      <a class="navbar-brand" href="#"><img src={% static "theme/uplb-logo.png" %} height="50px;"></a>
      </div>
  </nav>
</div>
<!-- Top bar end-->
<!-- Navbar Start-->
<header class="nav-holder make-sticky">
  <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
      <div class="container">
        <div class="sidebar-brand d-flex align-items-center justify-content-left" href="index.html">
          <div class="sidebar-brand-icon">
            <img src={% static "all/logo/WAISS-logo-with-def.png" %} height=64px>
          </div>
        </div>
        <!-- WAISS navbar-->
        <ul class="navbar-nav text-left">
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.get_username }}</span>
              <img class="img-profile rounded-circle" src={% static "theme/lady_sarai.png" %} width=50px height=50px>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href={%url 'waiss:index' %}>
                <i class="fas fa-fw fa-tachometer-alt"></i>
                Dashboard
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
  </div>
</header>
<!-- Navbar End-->
{% endblock %}

<section style="background: url(/static/base/imgs/corns.jpg) center center repeat; background-size: cover;" class="bar background-white relative-positioned">
  <div style="background-color: rgba(79, 191, 168, 0.9)">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-9"><br>
          <div class="card rounded-0 border-0" style="background-color: rgba(251, 251, 251, 0.5)">
            <div class="p-5">
                {% block header_block %}
                <h4 class="display-4" style="color: #1abc9c; font-size: 35px;">Let's get started! <span></span></h4>
                <p class="lead" style="font-size: 15px;">Input required information for each parameters.</p>
                {% endblock %}

                {% block form_block %}
                {% endblock %}
                <br>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
        
{% block footer_block %}
  <!-- Footer -->
  <footer class="site-footer">
    <div class="container-fluid col-sm-10">
      <div class="row">
        <div class="col-sm-5 mr-auto">
            <h6>Project 2.3 - Smart Technologies for Crop Water Management</h6>
            <p class="text-justify"></p>
        </div>
        <div class="col-sm-4 mr-auto">
            <h6>Connect with us</h6>
            <ul class="footer-links">
                <li><i class="fa fa-phone mr-2" style="font-size:20px"></i>+63 (049) 536 2387</li>
                <li><i class="fa fa-envelope mr-2" style="font-size:15px"></i>watermgmt2.3.sarai@gmail.com</li>
                <li><i class="fa fa-map-marker mr-2" style="font-size:20px"></i>Land and Water Resources Division Institute of Agricultural and Biosystems Engineering CEAT UPLB, College, Laguna Philippines 4031</li>
            </ul>
        </div>
        <div class="col-sm-3 mr-auto ml-auto">
          <h6>Connect with SARAi</h6>
          <ul class="footer-links">
            <li><i class="fa fa-phone mr-2" style="font-size:20px"></i>+63 (049) 536 2302,+63 (049) 536 2836</li>
            <li><i class="fa fa-envelope mr-2" style="font-size:15px"></i>project.sarai.uplb@gmail.com</li>
            <li><i class="fa fa-map-marker mr-2" style="font-size:20px"></i>SESAM UPLB, College, Laguna Philippines 4031</li>
          </ul>
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/projectsarai/" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/projectsarai_ph" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/channel/UCJtzNfVmoqFZGCF326VaTZw" title="Youtube"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container-fluid col-sm-10">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright © 2021 All Rights Reserved by SARAI 2.3 | Crop Water Technologies.</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12" style="text-align:right">
            <p class="credits">Template design by <a href="https://bootstrapious.com/snippets">Bootstrapious </a>&  <a href="https://fity.cz/">Fity</a></p>
            <!-- Please do not remove the backlink to us unless you purchase the Attribution-free License at https://bootstrapious.com/donate. Thank you. -->
        </div>
      </div>
    </div>
</footer>
  <!-- End of Footer -->
{% endblock %}
      <!-- End of Main Content -->
    </div>
  <!-- End of Content Wrapper -->
  <!-- End of Page Wrapper -->
  
  <!-- Bootstrap core JavaScript-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

{% block bottom_script_block %}
{% endblock %}
    
</body>
</html>