{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}

{% endblock %}

{% block main_block %}
    <div class="main-body">
        <form action="django-form">
            <br>
            <h6>
            <em>Check if the soil data in your farm is in the database. 
            <br> Otherwise, add new soil data here. <a href={% url 'waiss:addsoil' %}><i class='far fa-edit'></i></a></em>
            </h6>
            <label for="select-soil">Soil type:</label>
            <select class="custom-select" id="select-soil" name="select-soil" onchange="displaysoiltype();">  <!--don't forget semi-colon-->
                <option selected disabled="true">--choose soil type--</option>
                {% for result in Soil%}
                <option>
                    {{result.soiltype}} 
                </option>
                {% endfor%}
            </select>
            <input type="submit" value="select" onclick="displaysoiltype()" class="btn btn-secondary">  
        </form>
        <p><em>Display values here for <b><span id="displaysoil"></span></b>.
            <br>FC:<span id="displayfc"></span>
            <br>PWP:<span id="displaypwp"></span>
            <br>As:<span id="displayAs"></span>
        </p>
        
    </div>
{% endblock %}

{% block bottom_script_block %}
<script>
    function displaysoiltype()
    {
        document.getElementById("displaysoil").innerHTML = document.getElementById("select-soil").value
    }
</script>
{% endblock %}
        