{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
    <div class="main-body">
        <form action="django-form">
            <br>
            <h6><em>Check if the crop planted in your farm and its corresponding parameters is in the database. 
                <br>
                Otherwise, add new crop data here. <a href={% url 'waiss:cropinfo' %}><i class='far fa-edit'></i></a></em></h6>
            <label for="select-crop">Crop:</label>
            <select id="select-crop" name="select-crop" onchange="displaycrop();" class="custom-select">  <!--don't forget semi-colon-->
                <option selected disabled="false">-select crop-</option>
                {% for result in Crop%}
                <option>
                    {{result.crop}} 
                </option>
                {% endfor%}
            </select>
            <input type="submit" value="select" onclick="displaycrop()" class="btn btn-secondary">
        </form>
        <p><em>Display values here for <b><span id="displaycrop"></span></b>.
            <br>Depletion Factor:<span id=""></span>
            <br>Management Allowable Deficit:<span id=""></span>
            <br>Growing Period, days:<span id=""></span>
            <br>Depth of Rootzone, m:<span id=""></span>
            <br>Kc (ini):<span id=""></span>
            <br>Kc (mid):<span id=""></span>
            <br>Kc (end):<span id=""></span>
            <br>Kc Curve Cutoff (1):<span id=""></span>
            <br>Kc Curve Cutoff (2):<span id=""></span>
            <br>Kc Curve Cutoff (3):<span id=""></span>
        </p>
    </div>
{% endblock %}

{% block bottom_script_block %}
<script>
        
    function displaycrop()
    {
        document.getElementById("displaycrop").innerHTML = document.getElementById("select-crop").value
    }

</script>
{% endblock %}
         