{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}

{% endblock %}

{% block main_block %}
    <div class="main-body">
    
        <form action="django-form">
            <br>
            <h6><em>Check if the soil calibration data in your farm is in the database.
            <br>
            Otherwise, add new calibration data here. <a href={% url 'waiss:calib' %}><i class='far fa-edit'></i></a></em></h6>
            <label for="select-eqn">Calibration equation:</label>
            <select class="custom-select" id="select-eqn" name="select-eqn" onchange="displayeqn();">  <!--don't forget semi-colon-->
                <option selected disabled="true">--choose equation--</option>
                {% for result in CalibrationConstant%}
                <option>
                    {{result.calib_name}} 
                </option>
                {% endfor%}
            </select>
            <input type="submit" value="select" onclick="displayeqn()" class="btn btn-secondary">
        </form>
        
        <p><em>Display values here for <b><span id="displayeqn"></span></b>.
            <br>Form:<span id=""></span>
            <br>a:<span id=""></span>
            <br>b:<span id=""></span>
            <br>c:<span id=""></span>
            <br>d:<span id=""></span>
            <br>m:<span id=""></span>
        </p>
    </div>
{% endblock %}

{% block bottom_script_block %}
<script>
        
    function displayeqn()
    {
        document.getElementById("displayeqn").innerHTML = document.getElementById("select-eqn").value
    }

</script>
{% endblock %}
         