{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_block %}
{% endblock%}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">New Farm</li>
        <li class="breadcrumb-item active" aria-current="page">Basin Irrigation System</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-12 mx-auto">
        <div class="card mb-4">
            <div class="card-header py-3">
                <small><i>Create new <b>Water Advisory for Irrigation Scheduling System (WAISS)</b>. Choose parameters from database or create new one by clicking the plus icon.</i></small>
            </div>
            <div class="card-body">
                <form class="form-group" action="{% url 'waiss:sys_basin' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{ farm_form.farm_name|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ farm_form.brgy|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ farm_form.municipality|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ farm_form.province|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{farm_form.farm_manager|as_crispy_field }}</div>
                        <div class="col-1"><a href="{% url 'waiss:add_personnel' %}"><i class="fas fa-plus" data-toggle="tooltip" data-placement="right" title="add personnel"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farm_form.crop|as_crispy_field }}</div>
                        <div class="col-1"><a href="{% url 'waiss:add_crop' %}"><i class="fas fa-plus" data-toggle="tooltip" data-placement="right" title="add crop"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farm_form.soil|as_crispy_field }}</div>
                        <div class="col-1"><a href="{% url 'waiss:addsoil' %}"><i class="fas fa-plus" data-toggle="tooltip" data-placement="right" title="add soil"></i></a></div>
                    </div>
                    <div class="row"><div class="col">{{farm_form.basin_sys|as_crispy_field }}</div>
                        <div class="col-1"><a href="{% url 'waiss:addbasin' %}"><i class="fas fa-plus"  data-toggle="tooltip" data-placement="right" title="add new basin irrigation system"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farm_form.fieldunit|as_crispy_field }}</div>
                        <div class="col-1"><a href="{% url 'waiss:add_fieldunit' %}"><i class="fas fa-plus" data-toggle="tooltip" data-placement="right" title="add fieldunit"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farm_form.sensors|as_crispy_field }}</div>
                        <div class="col-1"><a href="{% url 'waiss:add_sensor' %}"><i class="fas fa-plus" data-toggle="tooltip" data-placement="right" title="add calibration eqn"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farm_form.calib_eqn|as_crispy_field }}</div>
                        <div class="col-1"><a href="{% url 'waiss:add_calib' %}"><i class="fas fa-plus" data-toggle="tooltip" data-placement="right" title="add calibration eqn"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col">{{farm_form.intakefamily|as_crispy_field }}</div>
                        <div class="col-1"><a href="{% url 'waiss:add_intakefamily' %}"><i class="fas fa-plus" data-toggle="tooltip" data-placement="right" title="add calibration eqn"></i></a></div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-info btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    