{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block top_script_block %}
{% endblock %}
            
{% block main_block %}
<h5 class="text-left"><kbd class="bg-gradient-info small">Soil Moisture Readings</kbd></h5>
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header"><small>Upload csv file with moisture content reading from sensor with data <b><i>{{order}}</i></b>.
            <br>
            Check format by opening the csv file in a notepad or wordpad. Make sure to use hyphen and not backslash.</small></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <form class="form-group" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="custom-file">
                                <label class="">Upload a File: </label>
                                <input type="file" name="file">
                            </div>
                            <input type="submit" value="Upload" class="btn btn-info btn-sm">
        
                            {% if messages %}
                            {% for message in messages %}
                            <div>
                                <strong>{{message|safe}}</strong>
                            </div>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </form>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" src=/static/theme/sample_format.JPG>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
            
{% block bottom_script_block %}
{% endblock %}
                