{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block meta_block %}
{% endblock %}

{% block top_script_block %}
{% endblock %}

{% block dashboard_block %}
<style>
  .bg-light-gray {
    background-color: #d9d9d9;
  }
</style>
{% endblock %}

{% block main_block %}
<br>
<div class="container-fluid">
  <!-- Outer Row -->
  <div class="row justify-content-center">
      <div class="col-9">
          <div class="card">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                  <div class="col bg-light-gray rounded">
                    <img src={% static "theme/lady_sarai_with_sarai_logo.png" %}>
                  </div>
                  <div class="col-lg-6">
                    <div class="p-5">
                      <div class="text-center">
                        <img width=70px height=70px src={% static "theme/waiss_logo.png" %}>
                        <br><br>
                        <h1 class="h4 text-gray-900 mb-4">Logged Out!</h1>
                      </div>
                      <div class="text-center">
                        <a class="small" href="{% url 'login' %}">Click here to login again.</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
{% endblock %}