{% extends 'waissapp/home_page.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %}
WAISS Login
{% endblock %}

{% block meta_block %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
{% endblock %}

{% block style_block %}
{% endblock %}

{% block collapse_button %}
{% endblock %}

{% block sections_block %}
<section style="background: url(/static/base/imgs/corns.jpg) center center repeat; background-size: cover;" class="bar background-white relative-positioned">
  <div class="container">
      <!-- Carousel Start-->
      <div class="home-carousel">
          <div class="dark-mask" style="background-color: rgba(92, 184, 92, 0.9)"></div>
          <div class="row">
            <div class="col-md-8">
              <!-- Carousel Start-->
              <div class="homepage owl-carousel">
                <div class="item">
                  <div class="row">
                    <div class="col-md-5">
                      <img src=/static/theme/waiss_logo.png alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                      <br>
                      <h2>Water Advisory For Irrigation Scheduling System</h2>
                      <ul class="list-unstyled">
                        <br>
                        <li>[By Project SARAi 2.3]</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5">
                            <img src=/static/theme/tama_behavior.png alt="" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                              <br><br><br><br>
                              <li>Analyze soil moisture measurements</li>
                              <li>Provide irrigation advisories</li>
                              <li>and many more features</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                      <div class="col-md-5">
                        <img src=/static/theme/4pics.png alt="" class="img-fluid">
                      </div>
                      <div class="col-md-6">
                        <ul class="list-unstyled">
                          <br><br><br>
                          <li>Highly Accessible</li>
                          <li>Convenient Platforms</li>
                          <li>Precise Irrigation Advisories</li>
                          <li>Reliable Warning Systems</li>
                        </ul>
                      </div>
                    </div>
                </div>
              </div>
              <!-- Carousel End-->
            </div>
            {% block login_form %}
            <div class="col-md-4 border rounded" style="background-color: rgba(251, 251, 251, 0.5)">
              <div class="container">
                <div class="text-center"><br>
                  <h4>Welcome Back, WAISS farmer!</h4><br>
                </div>
                <form class="form-group" method="post" action="">
                  {% csrf_token %}
                    <div>
                      {{ form|crispy }}
                    </div>
                  <hr>
                  <input type="submit" value="Login" class="btn btn-success btn-user btn-block" />
                  <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <div class="text-center"><a class="small text-success" href={% url 'password_reset' %}>Forgot Password?</a></div>
                <div class="text-center"><a class="small text-success" href={% url 'waiss:register' %}>Create an Account!</a></div>
              </div>
            </div>
            {% endblock %}
        </div>
      </div>
    </div>    
  </div>
</section>
<section class="bar no-mb" style="background-color: #e4ebc0;">
    <div class="heading text-center"><h2>WHERE WE ARE</h2></div>
    <div class="col-md-12"><div class="mx-10" id="tracemap" style="height:625px; width:100%;"></div></div>
</section>
<section class="bar no-mb">
  <div class="container">
      <div class="col-md-12">
          <div class="heading text-center">
              <h2>HOW CAN IT HELP YOU</h2>
          </div>
          <p class="lead text-center">WAISS generates real-time irrigation advisory based on actual soil moisture conditions and the management allowable deficit (MAD). MAD is the amount of water stored in the soil that is readily available to the plant. Whenever this amount of moisture is removed from the soil, the WAISS generates irrigation advisory to prevent the plants from experiencing water stress.  

            This SARAi technology is also compatible to the five general types of irrigation system (basin, border, furrow, drip, and sprinkler). The irrigation volume and irrigation time computations are specific to the irrigation system type. 
            
            WAISS supports farmers, agricultural extension workers, students, and researchers in implementing good irrigation practices by conserving water, reducing cost for irrigation, and preventing yield loss due to water stress.
            
            </p>
      </div>
  </div>
</section>
{% endblock %}
{% block bottom_script_block %}
<script src="{% static 'js/leaflet-mouseposition.js' %}"></script>
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-measure@3.1.0/dist/leaflet-measure.min.js"></script>
<script src="{% static 'js/leaflet.awesome-markers.js"></script>
<script src="https://npmcdn.com/leaflet.path.drag/src/Path.Drag.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-editable@1.2.0/src/Leaflet.Editable.min.js"></script>
<script >
var mymap = L.map('tracemap');
var map_center = [11.9436, 122.5654];
mymap.setView(map_center, 6);
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiamFxbG8iLCJhIjoiY2t2cTVsaHlrNGVudDJ1bnljN3I5ZXRvaCJ9.gq4iSHiGefSJ8qLTwoxtBw'
}).addTo(mymap);

var coords_list = "{{coords_list}}";
for (xy in coords_list) {
  xy = [xy];
  var farm_point = L.marker(xy).addTo(mymap);
  farm_point.setLatLng(xy).addTo(mymap);
}
console.log(coords_list)
</script>
{% endblock %}
