{% extends 'waissapp/sarai-header.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block waiss_nav_block %}
{% endblock %}

{% block header_block %}
{% endblock %}

{% block form_block %}
<div class="card col-9 mx-auto border-0">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-6 d-none d-lg-block rounded">
        <img src={% static "theme/fieldunit.jpg" %} width="458px" class="rounded-left">
      </div>
      <div class="col-lg-6 border rounded-right">
        <div class="p-5">
          <div class="text-center">
            <img width=70px height=70px src={% static "theme/waiss_logo.png" %}>
            <br><br>
            <h1 class="h4 text-gray-900 mb-4">Welcome Back, WAISS farmer!</h1>
          </div>
          {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
          {% endif %}

          {% if next %}
            {% if user.is_authenticated %}
              <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
            {% else %}
              <p>Please login to see this page.</p>
            {% endif %}
          {% endif %}

          <form class="user" method="post" action={% url 'login' %}>
            {% csrf_token %}
              <div>
                {{ form|crispy }}
              </div>
            <hr>
            <input type="submit" value="Login" class="btn btn-info btn-user btn-block" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
          <div class="text-center"><a class="small" href={% url 'password_reset' %}>Forgot Password?</a></div>
          <div class="text-center"><a class="small" href={% url 'waiss:register' %}>Create an Account!</a></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
