{% extends 'waissapp/home_page.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %}
WAISS Login
{% endblock %}

{% block style_block %}
{% endblock %}

{% block collapse_button %}
{% endblock %}

{% block sections_block %}
<section style="background: url(/static/base/imgs/corns.jpg) center center repeat; background-size: cover;" class="bar background-white relative-positioned">
  <div class="container">
      <!-- Carousel Start-->
      <div class="home-carousel">
          <div class="dark-mask" style="background-color: rgba(92, 184, 92, 0.9)"></div>
          <div class="row">
            <div class="col-md-8">
              <!-- Carousel Start-->
              <div class="homepage owl-carousel">
                <div class="item">
                  <div class="row">
                    <div class="col-md-5">
                      <img src=/static/theme/waiss_logo.png alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                      <br>
                      <h2>Water Advisory For Irrigation Scheduling System</h2>
                      <ul class="list-unstyled">
                        <br>
                        <li>[By Project SARAi 2.3]</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5">
                            <img src=/static/theme/tama_behavior.png alt="" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                              <br><br><br><br>
                              <li>Analyze soil moisture measurements</li>
                              <li>Provide irrigation advisories</li>
                              <li>and many more features</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                      <div class="col-md-5">
                        <img src=/static/theme/4pics.png alt="" class="img-fluid">
                      </div>
                      <div class="col-md-6">
                        <ul class="list-unstyled">
                          <br><br><br>
                          <li>Highly Accessible</li>
                          <li>Convenient Platforms</li>
                          <li>Precise Irrigation Advisories</li>
                          <li>Reliable Warning Systems</li>
                        </ul>
                      </div>
                    </div>
                </div>
              </div>
              <!-- Carousel End-->
            </div>
            {% block login_form %}
            <div class="col-md-4 border rounded" style="background-color: rgba(251, 251, 251, 0.5)">
              <div class="container">
                <div class="text-center"><br>
                  <h4>Welcome Back, WAISS farmer!</h4><br>
                </div>
                <form class="form-group" method="post" action={% url 'login' %}>
                  {% csrf_token %}
                    <div>
                      {{ form|crispy }}
                    </div>
                  <hr>
                  <input type="submit" value="Login" class="btn btn-success btn-user btn-block" />
                  <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <div class="text-center"><a class="small text-success" href={% url 'password_reset' %}>Forgot Password?</a></div>
                <div class="text-center"><a class="small text-success" href={% url 'waiss:register' %}>Create an Account!</a></div>
              </div>
            </div>
            {% endblock %}
        </div>
      </div>
    </div>    
  </div>
</section>
<section>
  <div class="row">
    <div class="col-lg-12"  hidden="true">
      <div id="div_id_farm_map" class="form-group">
        <label for="id_farm_map" class="">Farm Map Properties</label>
        <div class="">
          <textarea name="farm_map" col-mds="40" rows="10" class="textarea form-control" id="id_farm_map">{}</textarea>
          <input type="hidden" name="initial-farm_map" value="{}" id="initial-id_farm_map">
        </div>
      </div>
    </div>
    <div class="col-lg-6"><div class="mt-2" id="tracemap" style="height:525px; width:100%;"></div></div>
  </div>
</section>
<section class="bar background-white no-mb">
  <div class="container">
      <div class="col-md-12">
          <div class="heading text-center">
              <h2>HOW CAN IT HELP YOU</h2>
          </div>
          <p class="lead text-center">WAISS generates real-time irrigation advisory based on actual soil moisture conditions and the management allowable deficit (MAD). MAD is the amount of water stored in the soil that is readily available to the plant. Whenever this amount of moisture is removed from the soil, the WAISS generates irrigation advisory to prevent the plants from experiencing water stress.  

            This SARAi technology is also compatible to the five general types of irrigation system (basin, border, furrow, drip, and sprinkler). The irrigation volume and irrigation time computations are specific to the irrigation system type. 
            
            WAISS supports farmers, agricultural extension workers, students, and researchers in implementing good irrigation practices by conserving water, reducing cost for irrigation, and preventing yield loss due to water stress.
            
            </p>
      </div>
  </div>
</section>
{% endblock %}
<script src="{% static 'js/leaflet-mouseposition.js' %}"></script>
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-measure@3.1.0/dist/leaflet-measure.min.js"></script>
<script src="{% static 'js/leaflet.awesome-markers.js"></script>
<script src="https://npmcdn.com/leaflet.path.drag/src/Path.Drag.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-editable@1.2.0/src/Leaflet.Editable.min.js"></script>
<script >
var map = L.map('tracemap');
var mapCenter = [14.16358, 121.25078];     
var markCenter = L.marker(mapCenter).addTo(map);  
    
function buildMap(){ 
    if (!isNaN($('input[name="lat"]').val()) && $('input[name="lat"]').val() != "" && !isNaN($('input[name="long').val()) && $('input[name="long').val() != ""){
        mapCenter = [parseFloat($('input[name="lat"]').val()), parseFloat($('input[name="long').val())];
    }
    markCenter.setLatLng(mapCenter).addTo(map);
    map.setView(mapCenter, 10);
        
    var mapboxUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZ3JtYiIsImEiOiJja3QyZTB1emEwbWpyMm5ueGNsM3p6ZWZxIn0.qosdXRuQF0PUAo2XT48_0g';

    L.tileLayer(mapboxUrl, {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 20,
        id: 'mapbox/satellite-streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiZ3JtYiIsImEiOiJja3QyZTB1emEwbWpyMm5ueGNsM3p6ZWZxIn0.qosdXRuQF0PUAo2XT48_0g'
    }).addTo(map);

    if ($('input[name="initial-farm_map"]').val() && $('input[name="initial-farm_map"]').val() != "" && $('input[name="initial-farm_map"]').val() != '{}'){
        var points = JSON.parse($('input[name="initial-farm_map"]').val())['points'];
        latlngs = [];
        for (i=0; i<points.length; i++){
            latlngs[i] = [points[i]['lat'], points[i]['lng']];
        }  
        coords = [latlngs];
        L.polygon(coords).addTo(map);
        map.fitBounds(latlngs);
    }

    L.control.measure({
        primaryLengthUnit: 'meters',
        secondaryLengthUnit: 'kilometers',
        primaryAreaUnit: 'sqmeters',
        secondaryAreaUnit: 'hectares',
        position: 'topleft'
    }).addTo(map);

    map.on('measurefinish', function(evt) {
        writeResults(evt);
    });

    function writeResults(results) {
        var area = results.area
        area = +area.toFixed(2)
        $('input[name="farm_area"]').val(parseFloat(area));
        document.getElementById('id_farm_map').value = JSON.stringify(
        {
            area: results.area,
            areaDisplay: results.areaDisplay,
            lastCoord: results.lastCoord,
            length: results.length,
            lengthDisplay: results.lengthDisplay,
            pointCount: results.pointCount,
            points: results.points
        },
        null,
        2
        );
        var center = L.polygon(results.points).getBounds().getCenter();
        var lat = center.lat;
        var lng = center.lng;
        lat = +lat.toFixed(4)
        lng = +lng.toFixed(4)
        $('input[name="lat"]').val(parseFloat(lat));
        $('input[name="long"]').val(parseFloat(lng));
    }

    map.on('click', function(e){
        var coord = e.latlng;
        var lat = coord.lat;
        var lng = coord.lng;
        lat = +lat.toFixed(4)
        lng = +lng.toFixed(4)
        $('input[name="lat"]').val(lat);
        $('input[name="long"]').val(lng);
    });

        
    $('body').on('change', 'input[name="lat"]', function () {
        var x = $(this).val();
        var y = $('input[name="long"]').val();
        if(x == ""){
            x = mapCenter[0];
        }
        if(y == ""){
            y = mapCenter[1];
        }
        map.panTo({lat:x, lng:y});
        markCenter.setLatLng({lat:x, lng:y});
    });
        
    $('body').on('change', 'input[name="long"]', function () {
        var x = $('input[name="lat"]').val();
        var y = $(this).val();
        if(x == ""){
            x = mapCenter[0];
        }
        if(y == ""){
            y = mapCenter[1];
        }
        map.panTo({lat:x, lng:y});
        markCenter.setLatLng({lat:x, lng:y});
    });     
    L.control.mousePosition().addTo(map);
}
buildMap();
    
/*--AJAX LOADED HTML DATA--*/
function fetch(){
    var form = $('form');
    var url = window.location.href;
    var section = $('.section');

    $.ajax({
        url: url,
        data: form.serialize(),
        success: function (response) {
            section.html(response);       
            map.remove();
            map = L.map('tracemap');
            buildMap();           
        }
    }); 
}
/*--end of AJAX LOADED HTML DATA--*/
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
  $("[data-toggle=popover]").popover({
    container: 'body'
  });
})
</script>