{% extends 'waissapp/home_page.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block etcal_slider_block %}
{% endblock %}

{% block sections_block %}
<section style="background: url(/static/base/imgs/corns.jpg) center center repeat; background-size: cover;" class="bar background-white relative-positioned">
  <div class="container">
      <!-- Carousel Start-->
      <div class="home-carousel">
          <div class="dark-mask mask-primary"></div>
          <div class="container">
            <div class="item">
              <div class="row">
                <div class="col-md-7 text-center">
                  <img src=/static/base/imgs/laptop-2.png alt="" class="img-fluid">
                  <h3>Water Advisory For Irrigation Scheduling System</h3>
                  <p>Smart. Accurate. Innovation.<br>Easy. User-friendly. Accessible.</p>
                </div>
                <div class="col-md-4 border rounded" style="background-color: rgba(251, 251, 251, 0.5)">
                  <div class="container">
                    <div class="text-center"><br>
                      <h1 class="h4 text-gray-900 mb-4">Enter email</h1>
                    </div>
                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}
          
                    {% if next %}
                      {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                      {% else %}
                        <p>Please login to see this page.</p>
                      {% endif %}
                    {% endif %}
                    <form class="user" action="" method="post">
                    {% csrf_token %}
                    {% if form.email.errors %}
                      {{ form.email.errors }}
                    {% endif %}
                        <p>{{ form|crispy }}</p>
                      <input type="submit" class="btn btn-info btn-user btn-block" value="Reset password">
                    </form>
                    <br>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
{% endblock %}