{% extends 'waissapp/home_page.html'%}
{% load static %}
{% load crispy_forms_tags %}


{% block etcal_slider_block %}
{% endblock %}

{% block sections_block %}
<section style="background: url(/static/base/imgs/corns.jpg) center center repeat; background-size: cover;" class="bar background-white relative-positioned">
  <div class="container">
      <!-- Carousel Start-->
      <div class="home-carousel">
          <div class="dark-mask mask-primary"></div>
          <div class="container">
            <div class="item">
              <div class="row">
                <div class="col-md-7 text-center">
                  <img src=/static/base/imgs/laptop-2.png alt="" class="img-fluid">
                  <h3>Water Advisory For Irrigation Scheduling System</h3>
                  <p>Smart. Accurate. Innovation.<br>Easy. User-friendly. Accessible.</p>
                </div>
                <div class="col-md-4 border rounded" style="background-color: rgba(251, 251, 251, 0.5)">
                  <div class="container">
                    <div class="text-center"><br>
                        {% if validlink %}
                        <p>Please enter (and confirm) your new password.</p>
                        <form action="" method="post">
                        {% csrf_token %}
                            <table>
                                <tr>
                                    <td>{{ form.new_password1.errors }}
                                        <label for="id_new_password1">New password:</label></td>
                                    <td>{{ form.new_password1 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.new_password2.errors }}
                                        <label for="id_new_password2">Confirm password:</label></td>
                                    <td>{{ form.new_password2 }}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" value="Change my password" /></td>
                                </tr>
                            </table>
                        </form>
                        {% else %}
                            <h1>Password reset failed</h1>
                            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                        {% endif %}
                    </div>
                    <br>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
{% endblock %}