{% extends 'waissapp/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block top_script_block %}
{% endblock %}

{% block main_block %}
<h5 class="text-left">Profile</h5>
<div class="row">
    <div class="col-12">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="form-group">
                    <form class="form-group" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if messages %}
                        {% for x in messages%}
                        <div class="small text-right"><kbd class="bg-info">{{x}}</kbd></div>
                        {% endfor%}
                        {% endif %}
                        {{ form.username|as_crispy_field }}
                        <div class="row">
                            <div class="col">{{ form.first_name|as_crispy_field }}</div>
                            <div class="col">{{ form.last_name|as_crispy_field }}</div>
                        </div>
                        {{ form.email|as_crispy_field }}
                        <input class="btn btn-info btn-user btn-block" type="submit" value="Save Changes"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_script_block %}
{% endblock %}
    