{% extends 'registration/login.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block style_block %}
<style>
  .form-group li {
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 400;
    font-size: 100%;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    color: #858796!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
</style>
{% endblock %}

{% block login_form %}
<div class="col-md-4 border rounded" style="background-color: rgba(251, 251, 251, 0.5)">
  <div class="container">
    <div class="text-center"><br>
      <h4>Create an Account!</h4>
    </div>
    <form class="form-group" method="post" action={% url 'waiss:register' %}>
      {% csrf_token %}
      <div>
        {{ form.username|as_crispy_field }}
        <div class="row">
          <div class="col">{{ form.first_name|as_crispy_field }}</div>
          <div class="col">{{ form.last_name|as_crispy_field }}</div>
        </div>
        {{ form.email|as_crispy_field }}
        {{ form.password1|as_crispy_field }}
        {{ form.password2|as_crispy_field }}
      </div>
      <input class="btn btn-success btn-user btn-block" type="submit" value="Register"/>
      <input type="hidden" name="next" value="{{ next }}"/>
    </form>
    <hr>
    <div class="text-center"><a class="small text-success" href="{% url 'password_reset' %}">Forgot Password?</a></div>
    <div class="text-center"><a class="small text-success" href="{% url 'login' %}">Already have an account? Login!</a></div><br>
  </div>
</div>
{% endblock %}